Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

minor fixes
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

bulk address feedback and screenshare
  .vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/settings.json
  python/samples/04.ai.a.twentyQuestions/.vscode/tasks.json
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Removing Azure AI Search details
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update README.md
  js/packages/teams-ai/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/packages/teams-ai/README.md
  js/packages/teams-ai/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

revised setup files, bug fixes in main logic, reformatting
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/env/.env.dev
  python/samples/04.ai.a.twentyQuestions/env/.env.dev.user
  python/samples/04.ai.a.twentyQuestions/env/.env.local
  python/samples/04.ai.a.twentyQuestions/env/.env.local.user
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[PY] chore: Update README.md with python details (#1588)
  js/packages/teams-ai/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Cleanup SayCommand content and add typings for Enities array object.
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

As a stopgap, for Azure On Your Data do not automatically send url included with citation. Developers can add url manually if they wish.
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix formatCitationResponse to handle citations of length longer than 1 digit
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add new utility, getUsedCitations, which will filter out citations not referenced in provided text
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update SayCommand to filter out non-referenced citations
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Clean up imports
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

testing remove launch.json
  .vscode/launch.json
Owners: none

core implementation + unit tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/AzureSdkAssistantsExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update samples
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

set either openai or azure openai credentials
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[PY] feat: Twenty Questions (#1577)
  python/samples/04.ai.a.twentyQuestions/.gitignore
  python/samples/04.ai.a.twentyQuestions/.pylintrc
  python/samples/04.ai.a.twentyQuestions/.vscode/launch.json
  python/samples/04.ai.a.twentyQuestions/.vscode/settings.json
  python/samples/04.ai.a.twentyQuestions/.vscode/tasks.json
  python/samples/04.ai.a.twentyQuestions/.webappignore
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/appPackage/color.png
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/appPackage/outline.png
  python/samples/04.ai.a.twentyQuestions/env/.env.dev
  python/samples/04.ai.a.twentyQuestions/env/.env.dev.user
  python/samples/04.ai.a.twentyQuestions/env/.env.local
  python/samples/04.ai.a.twentyQuestions/env/.env.local.user
  python/samples/04.ai.a.twentyQuestions/infra/azure.bicep
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/poetry.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/sample.env
  python/samples/04.ai.a.twentyQuestions/scripts/__init__.py
  python/samples/04.ai.a.twentyQuestions/scripts/ci.py
  python/samples/04.ai.a.twentyQuestions/scripts/clean.py
  python/samples/04.ai.a.twentyQuestions/scripts/fmt.py
  python/samples/04.ai.a.twentyQuestions/scripts/lint.py
  python/samples/04.ai.a.twentyQuestions/scripts/start.py
  python/samples/04.ai.a.twentyQuestions/scripts/test.py
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/app.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/config.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/config.json
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

verbose breakout
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

lint, fmt
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

new implementation + tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientAssistantTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientThreadTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/AzureSdkAssistantsExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIAssistantsClientOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update samples
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/Program.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

remove obsolete internal models and mark public ones as Obsolete
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] feat: Update Citations behavior in SayCommand (#1591)
  js/packages/teams-ai/src/Utilities.spec.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

chat promtp response to be chat message
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AITests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/CommandJsonConverter.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

completed implementation of aoai support with assistants
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated mathbot
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/samples/06.assistants.a.mathBot/README.md
  python/samples/06.assistants.a.mathBot/env/.env.dev.user
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/sample.env
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/config.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated orderbot with aoai
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated envs and readme
  python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/env/.env.dev
  python/samples/06.auth.oauth.bot/env/.env.dev.user
  python/samples/06.auth.oauth.bot/env/.env.local
  python/samples/06.auth.oauth.bot/env/.env.local.user
  python/samples/06.auth.oauth.bot/sample.env
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/env/.env.dev
  python/samples/06.auth.oauth.messageExtensions/env/.env.dev.user
  python/samples/06.auth.oauth.messageExtensions/env/.env.local
  python/samples/06.auth.oauth.messageExtensions/env/.env.local.user
  python/samples/06.auth.oauth.messageExtensions/sample.env
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated poetry.lock
  python/samples/06.auth.oauth.bot/poetry.lock
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix warnings
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

add test case
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

add another test case
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

fix me auth
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.local.json
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

_remove_mentions attribute fix
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update POWERED-BY-AI.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Update manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

refactor + unit tests
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

update samples
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update SayCommand to use correct text for referencedCitations
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
