Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

implemented orderbot
  python/samples/06.assistants.b.orderBot/.gitignore
  python/samples/06.assistants.b.orderBot/.pylintrc
  python/samples/06.assistants.b.orderBot/.vscode/launch.json
  python/samples/06.assistants.b.orderBot/.vscode/settings.json
  python/samples/06.assistants.b.orderBot/.vscode/tasks.json
  python/samples/06.assistants.b.orderBot/.webappignore
  python/samples/06.assistants.b.orderBot/AppPackage/color.png
  python/samples/06.assistants.b.orderBot/AppPackage/manifest.json
  python/samples/06.assistants.b.orderBot/AppPackage/outline.png
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/env/.env.local
  python/samples/06.assistants.b.orderBot/env/.env.local.user
  python/samples/06.assistants.b.orderBot/infra/azure.bicep
  python/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  python/samples/06.assistants.b.orderBot/infra/botRegistration/azurebot.bicep
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/scripts/__init__.py
  python/samples/06.assistants.b.orderBot/scripts/ci.py
  python/samples/06.assistants.b.orderBot/scripts/clean.py
  python/samples/06.assistants.b.orderBot/scripts/fmt.py
  python/samples/06.assistants.b.orderBot/scripts/lint.py
  python/samples/06.assistants.b.orderBot/scripts/start.py
  python/samples/06.assistants.b.orderBot/scripts/test.py
  python/samples/06.assistants.b.orderBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/app.py
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_card.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.json
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
  python/samples/06.assistants.b.orderBot/src/state.py
  python/samples/06.assistants.b.orderBot/teamsapp.local.yml
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Switch tokenizer to use the Microsoft.ML.Tokenizers library
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/DataSources/TextDataSource.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/GroupSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/PromptSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

add user agent to connector client
  README.md
  python/packages/ai/teams/teams_adapter.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Switch to use NuGet.config instead.
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Move nuget.config to the solution folder
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[PY] feat: OrderBot (#1465)
  python/samples/06.assistants.b.orderBot/.gitignore
  python/samples/06.assistants.b.orderBot/.pylintrc
  python/samples/06.assistants.b.orderBot/.vscode/launch.json
  python/samples/06.assistants.b.orderBot/.vscode/settings.json
  python/samples/06.assistants.b.orderBot/.vscode/tasks.json
  python/samples/06.assistants.b.orderBot/.webappignore
  python/samples/06.assistants.b.orderBot/AppPackage/color.png
  python/samples/06.assistants.b.orderBot/AppPackage/manifest.json
  python/samples/06.assistants.b.orderBot/AppPackage/outline.png
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/env/.env.local
  python/samples/06.assistants.b.orderBot/env/.env.local.user
  python/samples/06.assistants.b.orderBot/infra/azure.bicep
  python/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  python/samples/06.assistants.b.orderBot/infra/botRegistration/azurebot.bicep
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/scripts/__init__.py
  python/samples/06.assistants.b.orderBot/scripts/ci.py
  python/samples/06.assistants.b.orderBot/scripts/clean.py
  python/samples/06.assistants.b.orderBot/scripts/fmt.py
  python/samples/06.assistants.b.orderBot/scripts/lint.py
  python/samples/06.assistants.b.orderBot/scripts/start.py
  python/samples/06.assistants.b.orderBot/scripts/test.py
  python/samples/06.assistants.b.orderBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/app.py
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_card.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.json
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
  python/samples/06.assistants.b.orderBot/src/state.py
  python/samples/06.assistants.b.orderBot/teamsapp.local.yml
  python/samples/06.assistants.b.orderBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

update samples
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.d.chainedActions.listBot/src/api.py
  python/samples/05.chatModeration/src/api.py
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/api.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Rename getting started sample
  js/samples/01.getting-started/a.echoBot/.eslintignore
  js/samples/01.getting-started/a.echoBot/.eslintrc
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.prettierignore
  js/samples/01.getting-started/a.echoBot/.prettierrc
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/appPackage/color.png
  js/samples/01.getting-started/a.echoBot/appPackage/manifest.json
  js/samples/01.getting-started/a.echoBot/appPackage/outline.png
  js/samples/01.getting-started/a.echoBot/infra/azure.bicep
  js/samples/01.getting-started/a.echoBot/infra/azure.parameters.json
  js/samples/01.getting-started/a.echoBot/infra/botRegistration/azurebot.bicep
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/sample.env
  js/samples/01.getting-started/a.echoBot/src/index.ts
  js/samples/01.getting-started/a.echoBot/teamsapp.local.yml
  js/samples/01.getting-started/a.echoBot/teamsapp.yml
  js/samples/01.getting-started/a.echoBot/tsconfig.json
  js/samples/01.getting-started/a.echoBot/web.config
  js/samples/01.messaging.a.echoBot/env/.env.local
  js/samples/01.messaging.a.echoBot/env/.env.staging
  js/samples/01.messaging.a.echoBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update markdown files for sample rename
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/QUICKSTART.md
  getting-started/SAMPLES.md
Owners: none

Address the feedback
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/AdaptiveCards/AdaptiveCardsAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Remove yarn usage for the sample
  js/samples/04.ai.a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix spelling
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Remove env-cmd becuase dotenv is used
  js/samples/04.ai.a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix running the sample from within the repo directory
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Owners: @microsoft/teams-ai-devs

Revert the public interface change
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] chore: Reorganize getting started sample (#1470)
  CONTRIBUTING.md
  README.md
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/QUICKSTART.md
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/.eslintignore
  js/samples/01.getting-started/a.echoBot/.eslintrc
  js/samples/01.getting-started/a.echoBot/.gitignore
  js/samples/01.getting-started/a.echoBot/.prettierignore
  js/samples/01.getting-started/a.echoBot/.prettierrc
  js/samples/01.getting-started/a.echoBot/.vscode/launch.json
  js/samples/01.getting-started/a.echoBot/.vscode/tasks.json
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/01.getting-started/a.echoBot/appPackage/color.png
  js/samples/01.getting-started/a.echoBot/appPackage/manifest.json
  js/samples/01.getting-started/a.echoBot/appPackage/outline.png
  js/samples/01.getting-started/a.echoBot/infra/azure.bicep
  js/samples/01.getting-started/a.echoBot/infra/azure.parameters.json
  js/samples/01.getting-started/a.echoBot/infra/botRegistration/azurebot.bicep
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/01.getting-started/a.echoBot/sample.env
  js/samples/01.getting-started/a.echoBot/src/index.ts
  js/samples/01.getting-started/a.echoBot/teamsapp.local.yml
  js/samples/01.getting-started/a.echoBot/teamsapp.yml
  js/samples/01.getting-started/a.echoBot/tsconfig.json
  js/samples/01.getting-started/a.echoBot/web.config
  js/samples/01.messaging.a.echoBot/env/.env.local
  js/samples/01.messaging.a.echoBot/env/.env.staging
  js/samples/01.messaging.a.echoBot/teamsapp.local.yml
  js/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  js/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.bicep
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/05.chatModeration/infra/azure.bicep
  js/samples/06.assistants.a.mathBot/infra/azure.bicep
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Increment teams-ai version
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/appPackage/build/manifest.local.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Revert "Revert the public interface change"
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

set fixed size
  README.md
Owners: none

[PY] fix: ensure user-agent header is set (#1469)
  README.md
  python/packages/ai/teams/teams_adapter.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.d.chainedActions.listBot/src/api.py
  python/samples/05.chatModeration/src/api.py
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.b.orderBot/src/api.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update pyproject.toml
  python/packages/ai/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[C#] feat: Switch tokenizer to use the Microsoft.ML.Tokenizers library (#1466)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/UtilitiesTests/TokenizerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/DataSources/TextDataSource.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/ActionAugmentationSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/GroupSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/Sections/PromptSection.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/GPTTokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Tokenizers/ITokenizer.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/OAuthAuthentication.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

finally
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.sln
  dotnet/samples/08.datasource.azureopenai/Config.cs
  dotnet/samples/08.datasource.azureopenai/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureopenai/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureopenai/README.md
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
  dotnet/samples/08.datasource.azureopenai/assets/example.png
  dotnet/samples/08.datasource.azureopenai/infra/azure.bicep
  dotnet/samples/08.datasource.azureopenai/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureopenai/nba.pdf
  dotnet/samples/08.datasource.azureopenai/teamsapp.local.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong, @microsoft/teams-ai-devs

version bump
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[C#] bump: to version `1.1.3` (#1479)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

remove troublesome config
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Move message extensions sample to teams-features directory
  getting-started/SAMPLES.md
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/env/.env.local
  js/samples/02.messageExtensions.a.searchCommand/env/.env.staging
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.gitignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/launch.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/tasks.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/README.md
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/color.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/manifest.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/outline.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.parameters.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/sample.env
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmPackageCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmSearchResultCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/tsconfig.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/web.config
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[C#] fix: Remove public feed from nuget config (#1480)
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

add clear tags
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

fix failing tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Revert "[C#] fix: Remove public feed from nuget config (#1480)"
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Revert log requests change in llama sample
  js/samples/04.ai.g.LLAMA/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Update samples and docs to optimize for running directly from Teams Toolkit gallery (#1458)
  getting-started/SAMPLES.md
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/appPackage/color.png
  js/samples/04.ai.a.teamsChefBot/appPackage/outline.png
  js/samples/04.ai.a.teamsChefBot/env/.env.dev
  js/samples/04.ai.a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai.a.teamsChefBot/env/.env.local
  js/samples/04.ai.a.teamsChefBot/env/.env.local.user
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/sample.env
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

remove nuget.config
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] chore: Move message extensions sample to teams-features directory (#1481)
  getting-started/SAMPLES.md
  js/package.json
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/env/.env.local
  js/samples/02.messageExtensions.a.searchCommand/env/.env.staging
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.eslintrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.gitignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierignore
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.prettierrc
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/launch.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/.vscode/tasks.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/README.md
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/color.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/manifest.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/appPackage/outline.png
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/azure.parameters.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/sample.env
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmPackageCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/cards/npmSearchResultCard.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/src/index.ts
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.yml
  js/samples/02.teams-features/a.messageExtensions.searchCommand/tsconfig.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/web.config
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Fix package.json error
  js/samples/04.ai.a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: package.json error in TeamsChefBot (#1486)
  js/samples/04.ai.a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[C#] fix: Remove the `nuget.config` file (#1485)
  dotnet/packages/Microsoft.TeamsAI/nuget.config
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Move AdaptiveCards sample and update TTK flow
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/color.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/manifest.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/outline.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.parameters.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/sample.env
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/staticSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/tsconfig.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/web.config
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.staging
  js/samples/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] chore: Move AdaptiveCards sample and update TTK flow (#1487)
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.eslintrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.gitignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierignore
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.prettierrc
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/launch.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/.vscode/tasks.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/README.md
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/color.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/manifest.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/appPackage/outline.png
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/azure.parameters.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/infra/botRegistration/azurebot.bicep
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/sample.env
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/staticSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.local.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/teamsapp.yml
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/tsconfig.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/web.config
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  js/samples/03.adaptiveCards.a.typeAheadBot/env/.env.staging
  js/samples/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
