Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

Update app.py
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update test_auth_manager.py
  python/packages/ai/tests/auth/test_auth_manager.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fixes for attachment downloader
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update card.png
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update test_llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

js-azure-assistants support
  js/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

add order bot support
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Modify azure openai sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/citation-response.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

debug
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/internals/testing/TestPlanner.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/Planner.ts
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update sample.env for sample 4 h
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add citations to default SAY response
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/prompts/Message.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update Citations sample
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/citation-response.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

attempt to fix python pipeline security
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  pipelines/python.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

[PY] chore: bump botbuilder-python packages and fix for TeamsAttachmentDownloader (#1566)
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml for Azure Pipelines
  pipelines/python.yml
Owners: none

Update python.yml
  pipelines/python.yml
Owners: none

run `fmt`
  python/packages/ai/teams/app.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update from main
  python/packages/ai/poetry.lock
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update assistants_planner.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Pair programming with @aacebo: Modify Planner response to be Message instead of string
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/internals/testing/TestPlanner.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/Planner.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update tests
  js/packages/teams-ai/src/augmentations/DefaultAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/MonologueAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add Powered by AI citations to PredictedSayCommand
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/prompts/Message.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Linting fixes
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update citations app - no longer uses Adaptive Cards
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

using aoai library
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Fix responseFormatter
  js/samples/04.ai-apps/a.teamsChefBot/src/responseFormatter.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update teamsapp.local.yml
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
Owners: @microsoft/teams-ai-devs

Update README.md
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

reinstate openai
  js/package.json
  js/packages/teams-ai/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update README.md
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update README.md
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97
