Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

patch version bump
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update node versions
  .github/workflows/js-build-test-lint.yml
  pipelines/javascript.yml
Owners: none

gte 18
  js/packages/teams-ai/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[C#] bump: patch bump to v1.1.2 (#1373)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] chore: prepare for 1.1.1 release (#1370)
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/appPackage/build/manifest.local.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

only support 18
  .github/workflows/js-build-test-lint.yml
  js/packages/teams-ai/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: update node version to LTS (#1372)
  .github/workflows/js-build-test-lint.yml
  js/packages/teams-ai/package.json
  pipelines/javascript.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

updated AOAI model to gpt-35-turbo
  python/samples/04.ai.b.messageExtensions.AI-ME/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated AOAI model to gpt-35-turbo for samples
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/05.chatModeration/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

add back in associated keys/endpoints for deployment with Azure App Service
  python/samples/04.ai.b.messageExtensions.AI-ME/env/.env.dev.user
  python/samples/04.ai.c.actionMapping.lightBot/env/.env.dev.user
  python/samples/05.chatModeration/env/.env.dev.user
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

feat: do not install poetry during local debug
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/05.chatModeration/teamsapp.local.yml
Owners: @microsoft/teams-ai-devs

update content safety moderator
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update bot
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Cleanup env files and clarify credentials directions in the samples
  js/samples/01.messaging.a.echoBot/README.md
  js/samples/01.messaging.a.echoBot/sample.env
  js/samples/02.messageExtensions.a.searchCommand/README.md
  js/samples/02.messageExtensions.a.searchCommand/sample.env
  js/samples/03.adaptiveCards.a.typeAheadBot/README.md
  js/samples/03.adaptiveCards.a.typeAheadBot/sample.env
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/sample.env
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/README.md
  js/samples/04.ai.d.chainedActions.listBot/sample.env
  js/samples/04.ai.e.chainedActions.devOpsBot/README.md
  js/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/appPackage/manifest.json
  js/samples/04.ai.f.vision.cardGazer/sample.env
  js/samples/04.ai.g.LLAMA/appPackage/build/manifest.local.json
  js/samples/04.e.twentyQuestions/README.md
  js/samples/04.e.twentyQuestions/sample.env
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/sample.env
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.assistants.b.orderBot/sample.env
  js/samples/06.auth.oauth.adaptiveCard/README.md
  js/samples/06.auth.oauth.adaptiveCard/sample.env
  js/samples/06.auth.oauth.bot/README.md
  js/samples/06.auth.oauth.bot/sample.env
  js/samples/06.auth.oauth.messageExtension/README.md
  js/samples/06.auth.oauth.messageExtension/sample.env
  js/samples/06.auth.teamsSSO.bot/README.md
  js/samples/06.auth.teamsSSO.bot/sample.env
  js/samples/06.auth.teamsSSO.bot/src/public/auth-end.html
  js/samples/06.auth.teamsSSO.bot/src/public/auth-start.html
  js/samples/06.auth.teamsSSO.messageExtension/README.md
  js/samples/06.auth.teamsSSO.messageExtension/sample.env
  js/samples/07.whoBot/README.md
  js/samples/07.whoBot/sample.env
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] feat: do not run poetry install during local debug (#1374)
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/05.chatModeration/teamsapp.local.yml
Owners: @microsoft/teams-ai-devs

add back in old formatting for flagged inputs
  python/samples/05.chatModeration/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix in azure moderator
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update Migration Navigation
  getting-started/MIGRATION/01.JS.md
  getting-started/MIGRATION/02.DOTNET.md
  getting-started/MIGRATION/03.PYTHON.md
  getting-started/MIGRATION/README.md
Owners: none

Update getting started other navigation
  getting-started/OTHER/BOTFRAMEWORK-EMULATOR.md
  getting-started/OTHER/MANUAL-RESOURCE-SETUP.md
  getting-started/OTHER/README.md
  getting-started/OTHER/TEAMS-TOOLKIT-CLI.md
  getting-started/OTHER/TEAMS-TOOLKIT.md
Owners: none

Update getting started navigation
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Owners: none

fixed failing tests for azure content safety moderator
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fixed formatting for sdk
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add documentation on action handlers
  getting-started/CONCEPTS/ACTIONS.md
Owners: none

Add more navigation to CONCEPTS section
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
Owners: none

update version and getting started docs
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  python/packages/ai/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[PY] chore: v1 Release (#1378)
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/PROMPTS.md
  python/packages/ai/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated pyproject.toml to reference 1.0.0 version of ai sdk
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fixed poetry.lock
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/05.chatModeration/poetry.lock
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix tables in quickstart.md
  getting-started/QUICKSTART.md
Owners: none

Fix tables in PYTHON.md
  getting-started/MIGRATION/03.PYTHON.md
Owners: none

[PY] chore: update pyproject.toml and poetry.lock files (#1381)
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated SAMPLES.md with python samples
  getting-started/SAMPLES.md
Owners: none

Apply fixes
  js/samples/04.ai.f.vision.cardGazer/build/appPackage/manifest.local.json
  js/samples/05.chatModeration/sample.env
  js/samples/06.auth.teamsSSO.messageExtension/sample.env
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] chore: updated SAMPLES.md with samples (#1382)
  getting-started/SAMPLES.md
Owners: none

start of new sample
  js/samples/04.ai.g.LLAMA/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Initiate new sample
  js/samples/04.ai.g.LLAMA/.eslintignore
  js/samples/04.ai.g.LLAMA/.eslintrc
  js/samples/04.ai.g.LLAMA/.gitignore
  js/samples/04.ai.g.LLAMA/.prettierignore
  js/samples/04.ai.g.LLAMA/.prettierrc
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/appPackage/color.png
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/appPackage/outline.png
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.parameters.json
  js/samples/04.ai.g.LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/teamsapp.local.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
  js/samples/04.ai.g.LLAMA/tsconfig.json
  js/samples/04.ai.g.LLAMA/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

First turn Llama POC
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/packages/teams-ai/src/models/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

lint fixes
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/index.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/delete.ts
  js/samples/08.datasource.azureAISearch/src/indexers/setup.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97
