Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

[JS] chore: Remove devTools folder from sample app
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Remove devTools folder from sample app (#1490)
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Patch js package and its samples
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Patch js package and its samples (#1491)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.c.actionMapping.lightBot/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
  js/samples/08.datasource.azureOpenAI/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Move twenty questions sample to ai-concepts directory
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintignore
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintrc
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierrc
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/color.png
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/manifest.json
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/outline.png
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.staging
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.parameters.json
  js/samples/03.ai-concepts/a.twentyQuestions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/sample.env
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/config.json
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/a.twentyQuestions/src/responses.ts
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.local.yml
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.yml
  js/samples/03.ai-concepts/a.twentyQuestions/tsconfig.json
  js/samples/03.ai-concepts/a.twentyQuestions/web.config
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.e.twentyQuestions/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Fix link in SAMPLES.md
  getting-started/SAMPLES.md
Owners: none

[JS] chore: Move twenty questions sample to ai-concepts directory (#1489)
  getting-started/SAMPLES.md
  js/samples/01.getting-started/a.echoBot/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintignore
  js/samples/03.ai-concepts/a.twentyQuestions/.eslintrc
  js/samples/03.ai-concepts/a.twentyQuestions/.gitignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierignore
  js/samples/03.ai-concepts/a.twentyQuestions/.prettierrc
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/launch.json
  js/samples/03.ai-concepts/a.twentyQuestions/.vscode/tasks.json
  js/samples/03.ai-concepts/a.twentyQuestions/README.md
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/color.png
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/manifest.json
  js/samples/03.ai-concepts/a.twentyQuestions/appPackage/outline.png
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.dev.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.local.user
  js/samples/03.ai-concepts/a.twentyQuestions/env/.env.staging
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/infra/azure.parameters.json
  js/samples/03.ai-concepts/a.twentyQuestions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/sample.env
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/config.json
  js/samples/03.ai-concepts/a.twentyQuestions/src/prompts/hint/skprompt.txt
  js/samples/03.ai-concepts/a.twentyQuestions/src/responses.ts
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.local.yml
  js/samples/03.ai-concepts/a.twentyQuestions/teamsapp.yml
  js/samples/03.ai-concepts/a.twentyQuestions/tsconfig.json
  js/samples/03.ai-concepts/a.twentyQuestions/web.config
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.e.twentyQuestions/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update README.md
  dotnet/samples/08.datasource.azureopenai/README.md
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

logic for teams attachment downloader complete
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move AI Message Extensions sample to ai-concepts directory
  getting-started/SAMPLES.md
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.gitignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/launch.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/tasks.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/README.md
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/color.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/manifest.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/outline.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.parameters.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/sample.env
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/editView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/initialView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/postCard.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.local.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/tsconfig.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/web.config
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/env/.env.staging
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.local.yml
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fixed logic and added tests
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

removed unused AuthenticatorResult class
  python/packages/ai/teams/teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

removed unused import
  python/packages/ai/teams/teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated response object
  python/packages/ai/teams/teams_attachment_downloader.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add empty env files
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.staging
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Move AI Message Extensions sample to ai-concepts directory (#1500)
  getting-started/SAMPLES.md
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.eslintrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.gitignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierignore
  js/samples/03.ai-concepts/b.AI-messageExtensions/.prettierrc
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/launch.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/.vscode/tasks.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/README.md
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/color.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/manifest.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/appPackage/outline.png
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.dev.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.local.user
  js/samples/03.ai-concepts/b.AI-messageExtensions/env/.env.staging
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/azure.parameters.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/sample.env
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/editView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/initialView.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/cards/postCard.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/index.ts
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/generate/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/config.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/src/prompts/update/skprompt.txt
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.local.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/teamsapp.yml
  js/samples/03.ai-concepts/b.AI-messageExtensions/tsconfig.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/web.config
  js/samples/04.ai.b.messageExtensions.AI-ME/README.md
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.local.yml
  js/samples/04.ai.b.messageExtensions.AI-ME/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

refactored into folder structure and removed comment
  python/packages/ai/teams/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader_options.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[PY] feat: TeamsAttachmentDownloader (#1502)
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/input_file.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/teams/teams_attachment_downloader/__init__.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader.py
  python/packages/ai/teams/teams_attachment_downloader/teams_attachment_downloader_options.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move chat moderation sample to ai-concepts folder
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/f.chatModeration/.eslintignore
  js/samples/03.ai-concepts/f.chatModeration/.eslintrc
  js/samples/03.ai-concepts/f.chatModeration/.gitignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierrc
  js/samples/03.ai-concepts/f.chatModeration/.vscode/launch.json
  js/samples/03.ai-concepts/f.chatModeration/.vscode/tasks.json
  js/samples/03.ai-concepts/f.chatModeration/README.md
  js/samples/03.ai-concepts/f.chatModeration/appPackage/color.png
  js/samples/03.ai-concepts/f.chatModeration/appPackage/manifest.json
  js/samples/03.ai-concepts/f.chatModeration/appPackage/outline.png
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.staging
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.bicep
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.parameters.json
  js/samples/03.ai-concepts/f.chatModeration/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/03.ai-concepts/f.chatModeration/sample.env
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/03.ai-concepts/f.chatModeration/src/index.ts
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/config.json
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/skprompt.txt
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.local.yml
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.yml
  js/samples/03.ai-concepts/f.chatModeration/tsconfig.json
  js/samples/03.ai-concepts/f.chatModeration/web.config
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/infra/azure.parameters.json
  js/samples/05.chatModeration/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

add oauth first pass
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/app.py
  python/packages/ai/teams/app_options.py
  python/packages/ai/teams/auth/__init__.py
  python/packages/ai/teams/auth/auth.py
  python/packages/ai/teams/auth/auth_manager.py
  python/packages/ai/teams/auth/auth_options.py
  python/packages/ai/teams/auth/message_extension.py
  python/packages/ai/teams/auth/oauth/__init__.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_dialog.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/packages/ai/teams/auth/sign_in_response.py
  python/packages/ai/teams/auth/token_exchange_middleware.py
  python/packages/ai/teams/auth/user_token/__init__.py
  python/packages/ai/teams/auth/user_token/exchange_token.py
  python/packages/ai/teams/auth/user_token/get_sign_in_resource.py
  python/packages/ai/teams/auth/user_token/get_user_token.py
  python/packages/ai/teams/auth/user_token/get_user_token_client.py
  python/packages/ai/teams/auth/user_token/sign_out_user.py
  python/packages/ai/teams/dialogs/__init__.py
  python/packages/ai/teams/dialogs/dialog.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/state_property_accessor.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update repo link in samples
  js/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update sample's repo link
  js/samples/04.ai-apps/a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Move devOps sample to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/b.devOpsBot/.eslintignore
  js/samples/04.ai-apps/b.devOpsBot/.eslintrc
  js/samples/04.ai-apps/b.devOpsBot/.gitignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierrc
  js/samples/04.ai-apps/b.devOpsBot/.vscode/launch.json
  js/samples/04.ai-apps/b.devOpsBot/.vscode/tasks.json
  js/samples/04.ai-apps/b.devOpsBot/README.md
  js/samples/04.ai-apps/b.devOpsBot/appPackage/color.png
  js/samples/04.ai-apps/b.devOpsBot/appPackage/manifest.json
  js/samples/04.ai-apps/b.devOpsBot/appPackage/outline.png
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.staging
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.bicep
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai-apps/b.devOpsBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/sample.env
  js/samples/04.ai-apps/b.devOpsBot/src/index.ts
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/actions.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/config.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/skprompt.txt
  js/samples/04.ai-apps/b.devOpsBot/src/responses.ts
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.local.yml
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.yml
  js/samples/04.ai-apps/b.devOpsBot/tsconfig.json
  js/samples/04.ai-apps/b.devOpsBot/web.config
  js/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move CardGazer sample to ai-apps folder
  js/samples/04.ai-apps/c.vision.cardGazer/.eslintignore
  js/samples/04.ai-apps/c.vision.cardGazer/.eslintrc
  js/samples/04.ai-apps/c.vision.cardGazer/.gitignore
  js/samples/04.ai-apps/c.vision.cardGazer/.prettierignore
  js/samples/04.ai-apps/c.vision.cardGazer/.prettierrc
  js/samples/04.ai-apps/c.vision.cardGazer/.vscode/launch.json
  js/samples/04.ai-apps/c.vision.cardGazer/.vscode/tasks.json
  js/samples/04.ai-apps/c.vision.cardGazer/README.md
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/color.png
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/manifest.json
  js/samples/04.ai-apps/c.vision.cardGazer/appPackage/outline.png
  js/samples/04.ai-apps/c.vision.cardGazer/assets/card.png
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision.cardGazer/env/.env.staging
  js/samples/04.ai-apps/c.vision.cardGazer/infra/azure.bicep
  js/samples/04.ai-apps/c.vision.cardGazer/infra/azure.parameters.json
  js/samples/04.ai-apps/c.vision.cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/c.vision.cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai-apps/c.vision.cardGazer/package.json
  js/samples/04.ai-apps/c.vision.cardGazer/sample.env
  js/samples/04.ai-apps/c.vision.cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision.cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision.cardGazer/teamsapp.local.yml
  js/samples/04.ai-apps/c.vision.cardGazer/teamsapp.yml
  js/samples/04.ai-apps/c.vision.cardGazer/tsconfig.json
  js/samples/04.ai-apps/c.vision.cardGazer/web.config
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/env/.env.local.user
  js/samples/04.ai.f.vision.cardGazer/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move Mathbot sample to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintignore
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintrc
  js/samples/04.ai-apps/d.assistants-mathBot/.gitignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierrc
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/launch.json
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/tasks.json
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/color.png
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/manifest.json
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/outline.png
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.staging
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.yml
  js/samples/04.ai-apps/d.assistants-mathBot/tsconfig.json
  js/samples/04.ai-apps/d.assistants-mathBot/web.config
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Fix naming of cardGazer from vision.cardGazer to vision-cardGazer
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintignore
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintrc
  js/samples/04.ai-apps/c.vision-cardGazer/.gitignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierrc
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/launch.json
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/tasks.json
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/color.png
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/manifest.json
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/outline.png
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.parameters.json
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/sample.env
  js/samples/04.ai-apps/c.vision-cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.local.yml
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
  js/samples/04.ai-apps/c.vision-cardGazer/tsconfig.json
  js/samples/04.ai-apps/c.vision-cardGazer/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move OrderBot to ai-apps folder
  js/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintignore
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintrc
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierrc
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/launch.json
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/tasks.json
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/color.png
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/manifest.json
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/outline.png
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.staging
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderCard.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.json
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/index.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.yml
  js/samples/04.ai-apps/e.assistants-orderBot/tsconfig.json
  js/samples/04.ai-apps/e.assistants-orderBot/web.config
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Add prettier to dev dependencies
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add prettier to dev dependencies
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add prettier to dev dependencies
  js/samples/04.ai-apps/b.devOpsBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add prettier to dev dependencies
  js/samples/04.ai-apps/a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix name to MathBot in azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

run fmt
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update dev packages and run lint/fmt
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/embeddings/azure_openai_embeddings.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/validators/action_response_validator.py
  python/packages/ai/teams/app.py
  python/packages/ai/teams/meetings/meetings.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/tests/ai/prompts/test_prompt_manager_v2.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

remove message_extension base auth class
  python/packages/ai/teams/auth/message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

add oauth adaptive card
  python/packages/ai/teams/auth/oauth/__init__.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update auth_manager.py
  python/packages/ai/teams/auth/auth_manager.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move oauth adaptive card sample to authentication folder
  js/samples/05.authentication/a.oauth-adaptiveCard/.eslintignore
  js/samples/05.authentication/a.oauth-adaptiveCard/.eslintrc
  js/samples/05.authentication/a.oauth-adaptiveCard/.gitignore
  js/samples/05.authentication/a.oauth-adaptiveCard/.prettierignore
  js/samples/05.authentication/a.oauth-adaptiveCard/.prettierrc
  js/samples/05.authentication/a.oauth-adaptiveCard/.vscode/launch.json
  js/samples/05.authentication/a.oauth-adaptiveCard/.vscode/tasks.json
  js/samples/05.authentication/a.oauth-adaptiveCard/.webappignore
  js/samples/05.authentication/a.oauth-adaptiveCard/README.md
  js/samples/05.authentication/a.oauth-adaptiveCard/aad.manifest.json
  js/samples/05.authentication/a.oauth-adaptiveCard/appPackage/color.png
  js/samples/05.authentication/a.oauth-adaptiveCard/appPackage/manifest.json
  js/samples/05.authentication/a.oauth-adaptiveCard/appPackage/outline.png
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/azure.bicep
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/azure.local.bicep
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/azure.parameters.json
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/azure.parameters.local.json
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/botRegistration/azurebot.bicep
  js/samples/05.authentication/a.oauth-adaptiveCard/infra/botRegistration/readme.md
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/sample.env
  js/samples/05.authentication/a.oauth-adaptiveCard/src/cards.ts
  js/samples/05.authentication/a.oauth-adaptiveCard/src/graphClient.ts
  js/samples/05.authentication/a.oauth-adaptiveCard/src/index.ts
  js/samples/05.authentication/a.oauth-adaptiveCard/teamsapp.local.yml
  js/samples/05.authentication/a.oauth-adaptiveCard/teamsapp.yml
  js/samples/05.authentication/a.oauth-adaptiveCard/tsconfig.json
  js/samples/05.authentication/a.oauth-adaptiveCard/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Add env files for oauth adaptive cards sample
  js/samples/05.authentication/a.oauth-adaptiveCard/env/.env.dev
  js/samples/05.authentication/a.oauth-adaptiveCard/env/.env.dev.user
  js/samples/05.authentication/a.oauth-adaptiveCard/env/.env.local
  js/samples/05.authentication/a.oauth-adaptiveCard/env/.env.local.user
  js/samples/05.authentication/a.oauth-adaptiveCard/env/.env.staging
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Move Mathbot sample to ai-apps folder (#1515)
  js/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintignore
  js/samples/04.ai-apps/d.assistants-mathBot/.eslintrc
  js/samples/04.ai-apps/d.assistants-mathBot/.gitignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierignore
  js/samples/04.ai-apps/d.assistants-mathBot/.prettierrc
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/launch.json
  js/samples/04.ai-apps/d.assistants-mathBot/.vscode/tasks.json
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/color.png
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/manifest.json
  js/samples/04.ai-apps/d.assistants-mathBot/appPackage/outline.png
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.dev.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.staging
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.yml
  js/samples/04.ai-apps/d.assistants-mathBot/tsconfig.json
  js/samples/04.ai-apps/d.assistants-mathBot/web.config
  js/samples/06.assistants.a.mathBot/README.md
  js/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  js/samples/06.assistants.a.mathBot/teamsapp.local.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs
