Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

[JS] fix: Update Chef Bot, add documentation, and fix dependency in mathbot (#1429)
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
  js/.eslintrc
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/internals/Colorize.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/DefaultModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/prompts/AssistantMessage.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.ts
  js/packages/teams-ai/src/prompts/GroupSection.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
  js/packages/teams-ai/src/prompts/TextSection.ts
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Manual bump of axios and @microsoft/teamsfx
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/08.datasource.azureAISearch/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] bump: Manual bump of axios and @microsoft/teamsfx (#1435)
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.f.vision.cardGazer/package.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/08.datasource.azureAISearch/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

clean messy gitignore
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/.gitignore
  dotnet/samples/.gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

remove data_sources from prompt template
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

revert prompt template changes
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix broken teamsapp.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
Owners: @microsoft/teams-ai-devs

fix teamsapp yml files
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Owners: @microsoft/teams-ai-devs

remove project id
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
Owners: @microsoft/teams-ai-devs

add missing files
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
  js/samples/08.datasource.azureOpenAI/env/.env.dev
  js/samples/08.datasource.azureOpenAI/env/.env.local
  js/samples/08.datasource.azureOpenAI/env/.env.testtool
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[C#] fix: Refactor `08.datasource.azureAISearch` sample (#1440)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/.gitignore
  dotnet/samples/.gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] fix: Broken teamsapp.yml files (#1441)
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Owners: @microsoft/teams-ai-devs

bug fix
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

adapt test suite
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: ME Auth card title is a fixed string (#1444)
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update index.ts
  js/samples/08.datasource.azureOpenAI/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Revert "[JS] fix: ME Auth card title is a fixed string (#1444)"
  js/packages/teams-ai/src/authentication/MessageExtensionAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthMessageExtensionAuthentication.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fixing poetry.lock
  python/samples/06.assistants.a.mathBot/poetry.lock
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[JS] feat: `Azure OpenAI On Your Data` - Azure AI Search support (#1426)
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/samples/08.datasource.azureOpenAI/.eslintignore
  js/samples/08.datasource.azureOpenAI/.eslintrc
  js/samples/08.datasource.azureOpenAI/.gitignore
  js/samples/08.datasource.azureOpenAI/.prettierignore
  js/samples/08.datasource.azureOpenAI/.prettierrc
  js/samples/08.datasource.azureOpenAI/.vscode/launch.json
  js/samples/08.datasource.azureOpenAI/.vscode/tasks.json
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/appPackage/color.png
  js/samples/08.datasource.azureOpenAI/appPackage/manifest.json
  js/samples/08.datasource.azureOpenAI/appPackage/outline.png
  js/samples/08.datasource.azureOpenAI/assets/example.png
  js/samples/08.datasource.azureOpenAI/devTools/teamsapptester/package.json
  js/samples/08.datasource.azureOpenAI/env/.env.dev
  js/samples/08.datasource.azureOpenAI/env/.env.local
  js/samples/08.datasource.azureOpenAI/env/.env.testtool
  js/samples/08.datasource.azureOpenAI/infra/azure.bicep
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/readme.md
  js/samples/08.datasource.azureOpenAI/package.json
  js/samples/08.datasource.azureOpenAI/sample.env
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/card.ts
  js/samples/08.datasource.azureOpenAI/src/data/nba.pdf
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/config.json
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
  js/samples/08.datasource.azureOpenAI/tsconfig.json
  js/samples/08.datasource.azureOpenAI/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fix monologue
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/utils/json/parse.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fixed poetry.lock file
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Updates to make running the sample directly simpler
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/env/.env.dev
  js/samples/04.ai.a.teamsChefBot/env/.env.dev.user
  js/samples/04.ai.a.teamsChefBot/env/.env.local
  js/samples/04.ai.a.teamsChefBot/env/.env.local.user
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
  js/samples/04.ai.a.teamsChefBot/infra/azure.parameters.json
  js/samples/04.ai.a.teamsChefBot/sample.env
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Fixes build error and works around #1405
  js/samples/04.ai.a.teamsChefBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fixes package validation errors when running Provision
  js/samples/04.ai.a.teamsChefBot/appPackage/color.png
  js/samples/04.ai.a.teamsChefBot/appPackage/outline.png
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

moved public method up, added generic for State, added default handler for Too_Many_Steps, ran formatter
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/state.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fixes instructions and npm install
  js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Modifies contribution guidance for samples.
  getting-started/SAMPLES.md
Owners: none

Update teams_adapter.py
  python/packages/ai/teams/teams_adapter.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updated with fmt
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/tests/adaptive_cards/test_adaptive_cards.py
  python/packages/ai/tests/task_modules/test_task_modules.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

linting fixes
  python/packages/ai/teams/adaptive_cards/__init__.py
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/ai/embeddings/__init__.py
  python/packages/ai/teams/ai/planners/action_planner.py
  python/packages/ai/teams/message_extensions/message_extensions.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/teams/teams_adapter.py
  python/packages/ai/tests/adaptive_cards/test_adaptive_cards.py
  python/packages/ai/tests/ai/embeddings/test_azure_openai_embeddings.py
  python/packages/ai/tests/task_modules/test_task_modules.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update js/samples/04.ai.a.teamsChefBot/README.md
  js/samples/04.ai.a.teamsChefBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update root README's link to daily builds
  README.md
Owners: none

Add documentation on using latest bits in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Fix samples' azure.bicep files to not reference Microsoft_App_Id, bot BOT_ID
  js/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  js/samples/04.ai.b.messageExtensions.AI-ME/infra/azure.bicep
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/05.chatModeration/infra/azure.bicep
  js/samples/06.assistants.a.mathBot/infra/azure.bicep
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Adds default values to fix provision issue
  js/samples/04.ai.a.teamsChefBot/infra/azure.bicep
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix links for RAG
  js/samples/04.ai.a.teamsChefBot/index/teams-ai.links
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

business logic
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[JS] chore: add packages for devOps sample (#1455)
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97
