Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

normalize package.jsons
  js/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update JS sample links
  getting-started/SAMPLES.md
Owners: none

Partial update to SAMPLES.md
  getting-started/SAMPLES.md
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] fix: vision input message retrieval typo (#1549)
  python/packages/ai/teams/ai/models/openai_model.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Removed cached env files for cardGazer
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] feat: Search Command ME Sample Bot (#1542)
  python/samples/02.messageExtensions.a.searchCommand/.gitignore
  python/samples/02.messageExtensions.a.searchCommand/.pylintrc
  python/samples/02.messageExtensions.a.searchCommand/.vscode/launch.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/settings.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/tasks.json
  python/samples/02.messageExtensions.a.searchCommand/.webappignore
  python/samples/02.messageExtensions.a.searchCommand/README.md
  python/samples/02.messageExtensions.a.searchCommand/appPackage/color.png
  python/samples/02.messageExtensions.a.searchCommand/appPackage/manifest.json
  python/samples/02.messageExtensions.a.searchCommand/appPackage/outline.png
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev.user
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local.user
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.bicep
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.parameters.json
  python/samples/02.messageExtensions.a.searchCommand/infra/botRegistration/azurebot.bicep
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/scripts/__init__.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/ci.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/clean.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/fmt.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/lint.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/start.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/test.py
  python/samples/02.messageExtensions.a.searchCommand/src/api.py
  python/samples/02.messageExtensions.a.searchCommand/src/app.py
  python/samples/02.messageExtensions.a.searchCommand/src/bot.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_package_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_search_result_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/config.py
  python/samples/02.messageExtensions.a.searchCommand/src/state.py
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.local.yml
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

added llm client tests
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[JS] chore: Update links to JS samples in SAMPLES.md (#1529)
  getting-started/SAMPLES.md
  js/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add document about deploying Bot to Linux Web App
  js/samples/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

typos
  js/samples/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Minor cleanup and comments to TeamsAttachmentDownloader
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix oauth and do some cleanup
  python/packages/ai/.pylintrc
  python/packages/ai/teams/app.py
  python/packages/ai/teams/auth/auth.py
  python/packages/ai/teams/auth/auth_component.py
  python/packages/ai/teams/auth/auth_manager.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_dialog.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/packages/ai/teams/auth/token_exchange_middleware.py
  python/packages/ai/teams/auth/user_token/__init__.py
  python/packages/ai/teams/auth/user_token/exchange_token.py
  python/packages/ai/teams/auth/user_token/get_sign_in_resource.py
  python/packages/ai/teams/auth/user_token/get_user_token.py
  python/packages/ai/teams/auth/user_token/get_user_token_client.py
  python/packages/ai/teams/auth/user_token/sign_out_user.py
  python/packages/ai/teams/dialogs/dialog.py
  python/packages/ai/teams/state/__init__.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/state/state_property_accessor.py
  python/packages/ai/teams/state/todict.py
  python/packages/ai/tests/auth/test_auth_manager.py
  python/samples/06.auth.oauth.bot/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update test_auth_manager.py
  python/packages/ai/tests/auth/test_auth_manager.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

updatead python docs
  getting-started/QUICKSTART.md
  python/README.md
  python/packages/ai/README.md
  python/samples/README.md
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

use actions
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[JS] docs: Add document about deploying Bot to Linux Web App (#1554)
  js/samples/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] chore: added llm_client tests and resolved getter bug (#1552)
  python/packages/ai/teams/ai/clients/llm_client.py
  python/packages/ai/tests/ai/clients/test_llm_client.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Yarn update
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] chore: updated docs (#1555)
  getting-started/QUICKSTART.md
  python/README.md
  python/packages/ai/README.md
  python/samples/README.md
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Revert "Removed cached env files for cardGazer"
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

#1526: Fix typeahead sample's dynamic command
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix error message of dynamic card
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix: remove projectId in teasmfx yml file
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
Owners: @microsoft/teams-ai-devs

[JS] fix: remove projectId in teasmfx yml file (#1558)
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
Owners: @microsoft/teams-ai-devs

[JS] chore: TeamsAttachmentDownloader cleanup + remove env files from cache (#1556)
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: #1526: Fix typeahead sample's dynamic command (#1557)
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/cards/dynamicSearchCard.ts
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add new sample
  python/packages/ai/teams/app.py
  python/packages/ai/teams/auth/auth_options.py
  python/samples/06.auth.oauth.messageExtensions/.gitignore
  python/samples/06.auth.oauth.messageExtensions/.pylintrc
  python/samples/06.auth.oauth.messageExtensions/.vscode/launch.json
  python/samples/06.auth.oauth.messageExtensions/.vscode/settings.json
  python/samples/06.auth.oauth.messageExtensions/.vscode/tasks.json
  python/samples/06.auth.oauth.messageExtensions/.webappignore
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/aad.manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/color.png
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
  python/samples/06.auth.oauth.messageExtensions/appPackage/outline.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_0.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_1.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_2.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_3.png
  python/samples/06.auth.oauth.messageExtensions/infra/azure.bicep
  python/samples/06.auth.oauth.messageExtensions/infra/azure.local.bicep
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.json
  python/samples/06.auth.oauth.messageExtensions/infra/azure.parameters.local.json
  python/samples/06.auth.oauth.messageExtensions/infra/botRegistration/azurebot.bicep
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/poetry.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/scripts/__init__.py
  python/samples/06.auth.oauth.messageExtensions/scripts/ci.py
  python/samples/06.auth.oauth.messageExtensions/scripts/clean.py
  python/samples/06.auth.oauth.messageExtensions/scripts/fmt.py
  python/samples/06.auth.oauth.messageExtensions/scripts/lint.py
  python/samples/06.auth.oauth.messageExtensions/scripts/start.py
  python/samples/06.auth.oauth.messageExtensions/scripts/test.py
  python/samples/06.auth.oauth.messageExtensions/src/api.py
  python/samples/06.auth.oauth.messageExtensions/src/app.py
  python/samples/06.auth.oauth.messageExtensions/src/bot.py
  python/samples/06.auth.oauth.messageExtensions/src/config.py
  python/samples/06.auth.oauth.messageExtensions/src/graph.py
  python/samples/06.auth.oauth.messageExtensions/teamsapp.local.yml
  python/samples/06.auth.oauth.messageExtensions/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

`js` => add activivty handler
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update Application.ts
  js/packages/teams-ai/src/Application.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add invoke flag to necessary handlers
  js/packages/teams-ai/src/Application.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

`dotnet` => implement handoff handler
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

`py` => implement handoffs
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix lint
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update Application.ts
  js/packages/teams-ai/src/Application.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update app.py
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update HandoffHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

implemented devops bot
  python/samples/04.ai.e.chainedActions.devOpsBot/.gitignore
  python/samples/04.ai.e.chainedActions.devOpsBot/.pylintrc
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/launch.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/settings.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/tasks.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.webappignore
  python/samples/04.ai.e.chainedActions.devOpsBot/README.md
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/color.png
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/manifest.json
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/outline.png
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev.user
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local.user
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/__init__.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/ci.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/clean.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/fmt.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/lint.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/start.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/test.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/api.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/app.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/config.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/skprompt.txt
  python/samples/04.ai.e.chainedActions.devOpsBot/src/state.py
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] feat: handoff activity handler (#1562)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/HandoffHandler.cs
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/yarn.lock
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_app.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong, @blackchoey

fix ME oauth
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/src/bot.py
  python/samples/06.auth.oauth.messageExtensions/src/graph.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
