Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

fix typo
  js/samples/08.datasource.azureAISearch/infra/azure.parameters.json
  js/samples/08.datasource.azureAISearch/teamsapp.local.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fix: bad grammar to avoid no attribute error
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix: fix testcase
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix typos
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix typo
  js/samples/08.datasource.azureAISearch/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] feat: Azure AI Search data source (#1361)
  js/samples/08.datasource.azureAISearch/.eslintignore
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/.gitignore
  js/samples/08.datasource.azureAISearch/.prettierignore
  js/samples/08.datasource.azureAISearch/.prettierrc
  js/samples/08.datasource.azureAISearch/.vscode/launch.json
  js/samples/08.datasource.azureAISearch/.vscode/tasks.json
  js/samples/08.datasource.azureAISearch/README.md
  js/samples/08.datasource.azureAISearch/appPackage/color.png
  js/samples/08.datasource.azureAISearch/appPackage/manifest.json
  js/samples/08.datasource.azureAISearch/appPackage/outline.png
  js/samples/08.datasource.azureAISearch/assets/example.png
  js/samples/08.datasource.azureAISearch/assets/prompt-response.png
  js/samples/08.datasource.azureAISearch/infra/azure.bicep
  js/samples/08.datasource.azureAISearch/infra/azure.parameters.json
  js/samples/08.datasource.azureAISearch/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureAISearch/infra/botRegistration/readme.md
  js/samples/08.datasource.azureAISearch/package.json
  js/samples/08.datasource.azureAISearch/sample.env
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/index.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/delete.ts
  js/samples/08.datasource.azureAISearch/src/indexers/setup.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/prompts/chat/config.json
  js/samples/08.datasource.azureAISearch/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
  js/samples/08.datasource.azureAISearch/teamsapp.local.yml
  js/samples/08.datasource.azureAISearch/teamsapp.testtool.yml
  js/samples/08.datasource.azureAISearch/teamsapp.yml
  js/samples/08.datasource.azureAISearch/tsconfig.json
  js/samples/08.datasource.azureAISearch/web.config
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update llama sample to working light bot
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add readme for sample
  js/samples/04.ai.g.LLAMA/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix for buffer.from bug
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: TeamsAttachmentDownloader Buffer Error (#1403)
  js/packages/teams-ai/src/TeamsAttachmentDownloader.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Cleanup Llama sample and fix augmentation
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Minor clean up light bot sample
  js/samples/04.ai.c.actionMapping.lightBot/src/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/responses.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Turn off augmentation looping
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

init
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot.sln
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/.gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/ActionHandlers.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/color.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/manifest.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/outline.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/TeamsChefBot.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/example.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.local.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/.editorconfig
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Restaurant.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/RestaurantIndexer.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong, @microsoft/teams-ai-devs

completed typeahead bot implementation
  python/samples/03.adaptiveCards.a.typeAheadBot/.gitignore
  python/samples/03.adaptiveCards.a.typeAheadBot/.pylintrc
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/settings.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/tasks.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.webappignore
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/color.png
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/manifest.json
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/outline.png
  python/samples/03.adaptiveCards.a.typeAheadBot/assets/screenshot.PNG
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev.user
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local.user
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.parameters.json
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/botRegistration/azurebot.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/__init__.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/ci.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/clean.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/fmt.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/lint.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/start.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/test.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/bot.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/dynamic_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/static_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/state.py
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.local.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fixed JSON parsing for search result and README instructions
  python/packages/ai/teams/adaptive_cards/adaptive_cards_search_result.py
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update readme
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/TeamsChefBot.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

add a new option
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Apply PR feedback
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/teamsapp.testtool.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

init
  js/packages/teams-ai/src/internals/AzureOpenAIClient.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/prompts/Message.ts
  js/packages/teams-ai/src/prompts/PromptTemplate.ts
  js/samples/08.datasource.azureOpenAI/.eslintignore
  js/samples/08.datasource.azureOpenAI/.eslintrc
  js/samples/08.datasource.azureOpenAI/.gitignore
  js/samples/08.datasource.azureOpenAI/.prettierignore
  js/samples/08.datasource.azureOpenAI/.prettierrc
  js/samples/08.datasource.azureOpenAI/.vscode/launch.json
  js/samples/08.datasource.azureOpenAI/.vscode/tasks.json
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/appPackage/color.png
  js/samples/08.datasource.azureOpenAI/appPackage/manifest.json
  js/samples/08.datasource.azureOpenAI/appPackage/outline.png
  js/samples/08.datasource.azureOpenAI/assets/example.png
  js/samples/08.datasource.azureOpenAI/infra/azure.bicep
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/08.datasource.azureOpenAI/infra/botRegistration/readme.md
  js/samples/08.datasource.azureOpenAI/package.json
  js/samples/08.datasource.azureOpenAI/sample.env
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/card.ts
  js/samples/08.datasource.azureOpenAI/src/data/nba.pdf
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/config.json
  js/samples/08.datasource.azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.yml
  js/samples/08.datasource.azureOpenAI/tsconfig.json
  js/samples/08.datasource.azureOpenAI/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

readme updates
  js/samples/08.datasource.azureOpenAI/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] feat: Implement use of alternate model Meta Llama 2 (#1402)
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/packages/teams-ai/src/models/index.ts
  js/samples/04.ai.c.actionMapping.lightBot/src/responses.ts
  js/samples/04.ai.g.LLAMA/.eslintignore
  js/samples/04.ai.g.LLAMA/.eslintrc
  js/samples/04.ai.g.LLAMA/.gitignore
  js/samples/04.ai.g.LLAMA/.prettierignore
  js/samples/04.ai.g.LLAMA/.prettierrc
  js/samples/04.ai.g.LLAMA/.vscode/launch.json
  js/samples/04.ai.g.LLAMA/.vscode/tasks.json
  js/samples/04.ai.g.LLAMA/README.md
  js/samples/04.ai.g.LLAMA/appPackage/color.png
  js/samples/04.ai.g.LLAMA/appPackage/manifest.json
  js/samples/04.ai.g.LLAMA/appPackage/outline.png
  js/samples/04.ai.g.LLAMA/infra/azure.bicep
  js/samples/04.ai.g.LLAMA/infra/azure.parameters.json
  js/samples/04.ai.g.LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/04.ai.g.LLAMA/package.json
  js/samples/04.ai.g.LLAMA/sample.env
  js/samples/04.ai.g.LLAMA/src/index.ts
  js/samples/04.ai.g.LLAMA/src/prompts/default/actions.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/config.json
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/samples/04.ai.g.LLAMA/teamsapp.local.yml
  js/samples/04.ai.g.LLAMA/teamsapp.testtool.yml
  js/samples/04.ai.g.LLAMA/teamsapp.yml
  js/samples/04.ai.g.LLAMA/tsconfig.json
  js/samples/04.ai.g.LLAMA/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fix typings
  js/packages/teams-ai/src/internals/types.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

test
  js/packages/teams-ai/src/internals/AzureOpenAIClient.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

revert to v1.1.1
  js/samples/08.datasource.azureOpenAI/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

#1418 delete unnecessary lines in ChefBot yml file
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
Owners: @microsoft/teams-ai-devs

add gitignore
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/.gitignore
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Apply suggestions from code review
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[C#] feat: Azure AI Search data source (#1411)
  .gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot.sln
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/.gitignore
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/ActionHandlers.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchDataSource.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Config.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/color.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/manifest.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/appPackage/outline.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/example.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/assets/prompt-response.png
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.local.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/teamsapp.yml
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/.editorconfig
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/AzureAISearchIndexer.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Program.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/README.md
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/Restaurant.cs
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchIndexer/RestaurantIndexer.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong, @microsoft/teams-ai-devs

#1389 Add documentation for multiple models in Teams Chef Bot
  js/samples/04.ai.a.teamsChefBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add openai to dependencies for MathBot
  js/samples/06.assistants.a.mathBot/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Linting fixes
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/internals/Colorize.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.ts
  js/packages/teams-ai/src/moderators/DefaultModerator.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.ts
  js/packages/teams-ai/src/planners/ActionPlanner.ts
  js/packages/teams-ai/src/prompts/AssistantMessage.ts
  js/packages/teams-ai/src/prompts/ConversationHistory.ts
  js/packages/teams-ai/src/prompts/DataSourceSection.ts
  js/packages/teams-ai/src/prompts/FunctionCallMessage.ts
  js/packages/teams-ai/src/prompts/FunctionResponseMessage.ts
  js/packages/teams-ai/src/prompts/GroupSection.ts
  js/packages/teams-ai/src/prompts/TemplateSection.ts
  js/packages/teams-ai/src/prompts/TextSection.ts
  js/samples/08.datasource.azureAISearch/.eslintrc
  js/samples/08.datasource.azureAISearch/src/AzureAISearchDataSource.ts
  js/samples/08.datasource.azureAISearch/src/app.ts
  js/samples/08.datasource.azureAISearch/src/indexers/data.ts
  js/samples/08.datasource.azureAISearch/src/indexers/utils.ts
  js/samples/08.datasource.azureAISearch/src/responseFormatter.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] feat: Typeahead Bot (#1412)
  python/packages/ai/teams/adaptive_cards/adaptive_cards_search_result.py
  python/samples/03.adaptiveCards.a.typeAheadBot/.gitignore
  python/samples/03.adaptiveCards.a.typeAheadBot/.pylintrc
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/settings.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/tasks.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.webappignore
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/color.png
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/manifest.json
  python/samples/03.adaptiveCards.a.typeAheadBot/appPackage/outline.png
  python/samples/03.adaptiveCards.a.typeAheadBot/assets/screenshot.PNG
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.dev.user
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local
  python/samples/03.adaptiveCards.a.typeAheadBot/env/.env.local.user
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/azure.parameters.json
  python/samples/03.adaptiveCards.a.typeAheadBot/infra/botRegistration/azurebot.bicep
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/__init__.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/ci.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/clean.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/fmt.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/lint.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/start.py
  python/samples/03.adaptiveCards.a.typeAheadBot/scripts/test.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/api.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/app.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/bot.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/dynamic_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/cards/static_search_card.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/config.py
  python/samples/03.adaptiveCards.a.typeAheadBot/src/state.py
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.local.yml
  python/samples/03.adaptiveCards.a.typeAheadBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update README.md image path
  js/samples/04.ai.a.teamsChefBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Update README.md image path (#1431)
  js/samples/04.ai.a.teamsChefBot/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix for dict/key referneces for action name and param
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[PY] fix: retrieving name and parameter values from monologue augmentations (#1433)
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix getting started links
  getting-started/QUICKSTART.md
  getting-started/README.md
  getting-started/SAMPLES.md
Owners: none

Add eslint override for spec files
  js/.eslintrc
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Meetings.spec.ts
  js/packages/teams-ai/src/MessageExtensions.spec.ts
  js/packages/teams-ai/src/TaskModules.spec.ts
  js/packages/teams-ai/src/TeamsAdapter.spec.ts
  js/packages/teams-ai/src/moderators/AzureContentSafetyModerator.spec.ts
  js/packages/teams-ai/src/moderators/OpenAIModerator.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Lock down openai package version due to breaking change
  js/packages/teams-ai/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97
