Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

Update .env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fixes
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

bulk port and rename
  python/samples/04.ai.a.twentyQuestions/.gitignore
  python/samples/04.ai.a.twentyQuestions/.pylintrc
  python/samples/04.ai.a.twentyQuestions/.webappignore
  python/samples/04.ai.a.twentyQuestions/README.md
  python/samples/04.ai.a.twentyQuestions/appPackage/color.png
  python/samples/04.ai.a.twentyQuestions/appPackage/manifest.json
  python/samples/04.ai.a.twentyQuestions/appPackage/outline.png
  python/samples/04.ai.a.twentyQuestions/infra/azure.bicep
  python/samples/04.ai.a.twentyQuestions/infra/azure.parameters.json
  python/samples/04.ai.a.twentyQuestions/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.a.twentyQuestions/poetry.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/sample.env
  python/samples/04.ai.a.twentyQuestions/scripts/__init__.py
  python/samples/04.ai.a.twentyQuestions/scripts/ci.py
  python/samples/04.ai.a.twentyQuestions/scripts/clean.py
  python/samples/04.ai.a.twentyQuestions/scripts/fmt.py
  python/samples/04.ai.a.twentyQuestions/scripts/lint.py
  python/samples/04.ai.a.twentyQuestions/scripts/start.py
  python/samples/04.ai.a.twentyQuestions/scripts/test.py
  python/samples/04.ai.a.twentyQuestions/src/api.py
  python/samples/04.ai.a.twentyQuestions/src/app.py
  python/samples/04.ai.a.twentyQuestions/src/bot.py
  python/samples/04.ai.a.twentyQuestions/src/config.py
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/config.json
  python/samples/04.ai.a.twentyQuestions/src/prompts/hint/skprompt.txt
  python/samples/04.ai.a.twentyQuestions/src/responses.py
  python/samples/04.ai.a.twentyQuestions/src/state.py
  python/samples/04.ai.a.twentyQuestions/teamsapp.local.yml
  python/samples/04.ai.a.twentyQuestions/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Fix enable_feedback_loop to snake case
  js/packages/teams-ai/src/AI.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] feat: DevOps Sample (#1563)
  python/samples/04.ai.e.chainedActions.devOpsBot/.gitignore
  python/samples/04.ai.e.chainedActions.devOpsBot/.pylintrc
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/launch.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/settings.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.vscode/tasks.json
  python/samples/04.ai.e.chainedActions.devOpsBot/.webappignore
  python/samples/04.ai.e.chainedActions.devOpsBot/README.md
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/color.png
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/manifest.json
  python/samples/04.ai.e.chainedActions.devOpsBot/appPackage/outline.png
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.dev.user
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local
  python/samples/04.ai.e.chainedActions.devOpsBot/env/.env.local.user
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  python/samples/04.ai.e.chainedActions.devOpsBot/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/sample.env
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/__init__.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/ci.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/clean.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/fmt.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/lint.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/start.py
  python/samples/04.ai.e.chainedActions.devOpsBot/scripts/test.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/api.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/app.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/bot.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/config.py
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/actions.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/config.json
  python/samples/04.ai.e.chainedActions.devOpsBot/src/prompts/sequence/skprompt.txt
  python/samples/04.ai.e.chainedActions.devOpsBot/src/state.py
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  python/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

run `lint`
  js/packages/teams-ai/src/Application.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update responseFormatter.ts
  js/samples/04.ai-apps/g.datasource-azureAISearch/src/responseFormatter.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix build issues
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/appsettings.Development.json
  dotnet/samples/08.datasource.azureopenai/appsettings.json
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

move default actions to different files
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update AI.ts
  js/packages/teams-ai/src/AI.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add copyright comments
  js/packages/teams-ai/src/ApplicationBuilder.ts
  js/packages/teams-ai/src/Utilities.ts
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/DoCommand.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/HttpError.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/TooManySteps.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
  js/packages/teams-ai/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

cleanup small file
  js/packages/teams-ai/src/actions/Action.ts
  js/packages/teams-ai/src/actions/FlaggedInput.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/StopCommandName.ts
  js/packages/teams-ai/src/actions/Unknown.ts
  js/packages/teams-ai/src/actions/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add some tests for default actions
  js/packages/teams-ai/src/actions/DoCommand.spec.ts
  js/packages/teams-ai/src/actions/FlaggedInput.spec.ts
  js/packages/teams-ai/src/actions/FlaggedOutput.spec.ts
  js/packages/teams-ai/src/actions/HttpError.spec.ts
  js/packages/teams-ai/src/actions/PlanReady.spec.ts
  js/packages/teams-ai/src/actions/PlanReady.ts
  js/packages/teams-ai/src/actions/TooManySteps.spec.ts
  js/packages/teams-ai/src/actions/Unknown.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add tests for do/say actions
  js/packages/teams-ai/src/actions/DoCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Make fix to twenty questions sample azure deployment
  js/samples/03.ai-concepts/a.twentyQuestions/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add to getting started docs: Powered by AI
  getting-started/CONCEPTS/ACTION-PLANNER.md
  getting-started/CONCEPTS/ACTIONS.md
  getting-started/CONCEPTS/AI-SYSTEM.md
  getting-started/CONCEPTS/APPLICATION.md
  getting-started/CONCEPTS/AUGMENTATIONS.md
  getting-started/CONCEPTS/DATA-SOURCES.md
  getting-started/CONCEPTS/MODERATOR.md
  getting-started/CONCEPTS/PLANNER.md
  getting-started/CONCEPTS/POWERED-BY-AI.md
  getting-started/CONCEPTS/PROMPTS.md
  getting-started/CONCEPTS/README.md
  getting-started/CONCEPTS/TURNS.md
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/assets/ai-generated.png
  getting-started/assets/citations-example.png
  getting-started/assets/feedback-loop-buttons.png
Owners: none

Add feedback loop route handler and update sample
  js/packages/teams-ai/src/Application.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Lint
  js/packages/teams-ai/src/AI.ts
  js/packages/teams-ai/src/actions/Action.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[C#] fix: Failing sample builds (#1579)
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/appsettings.Development.json
  dotnet/samples/08.datasource.azureopenai/appsettings.json
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Add FeedbackLoopData test
  js/packages/teams-ai/src/Application.spec.ts
  js/packages/teams-ai/src/Application.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add tests for snippet and formatCitationsResponse
  js/packages/teams-ai/src/Utilities.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Cleanup feedbackLoop handler in sample 4 h
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Fix up SayCommand tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.spec.ts
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update example image
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

update samples to use aoai & fix assistant planner bug
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/appsettings.Development.json
  dotnet/samples/06.assistants.a.mathBot/appsettings.json
  dotnet/samples/06.assistants.a.mathBot/env/.env.dev.user
  dotnet/samples/06.assistants.a.mathBot/infra/azure.bicep
  dotnet/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  dotnet/samples/06.assistants.b.orderBot/Config.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/appsettings.Development.json
  dotnet/samples/06.assistants.b.orderBot/appsettings.json
  dotnet/samples/06.assistants.b.orderBot/env/.env.dev.user
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
  dotnet/samples/06.assistants.b.orderBot/infra/azure.parameters.json
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Add TurnStateProperty tests
  js/packages/teams-ai/src/TeamsAttachmentDownloader.spec.ts
  js/packages/teams-ai/src/TurnStateProperty.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Minor fix to powered by ai docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Update feedback loop docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Update image in Feedback loop section of docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Minor edit
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Minor docs edits
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

More minor edits
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

minor fixes
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/samples/06.auth.oauth.bot/.gitignore
  python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/assets/screenshot_0.png
  python/samples/06.auth.oauth.bot/assets/screenshot_1.png
  python/samples/06.auth.oauth.bot/assets/screenshot_2.png
  python/samples/06.auth.oauth.bot/assets/screenshot_3.png
  python/samples/06.auth.oauth.messageExtensions/.gitignore
  python/samples/06.auth.oauth.messageExtensions/README.md
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_0.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_1.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_2.png
  python/samples/06.auth.oauth.messageExtensions/assets/screenshot_3.png
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update bot.py
  python/samples/06.auth.oauth.bot/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update bot.py
  python/samples/06.auth.oauth.bot/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update auth_manager.py
  python/packages/ai/teams/auth/auth_manager.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update auth_manager.py
  python/packages/ai/teams/auth/auth_manager.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

use older version of msgraph
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97
