Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @corinagum, @aacebo, @lilyydu, @singhk97, @swatDong, @kuojianlu, @blackchoey, @microsoft/teams-ai-devs

remove local package
  dotnet/samples/NuGet.Config
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

fix read me
  dotnet/samples/README.md
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[C#] chore: Fix readme & remove Nuget.Config (#1032)
  dotnet/samples/NuGet.Config
  dotnet/samples/README.md
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

update turn state
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

remove "bot" from a ME teams app.
  .gitignore
  dotnet/samples/04.ai.b.messageExtensions.gptME/appPackage/manifest.json
  js/samples/04.ai.b.messageExtensions.AI-ME/appPackage/manifest.json
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

chore: enable AI log on .net samples
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/appsettings.Development.json
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appsettings.Development.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/appsettings.Development.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/appsettings.Development.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/appsettings.Development.json
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/appsettings.Development.json
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[C#] chore: enable AI log on .net samples (#1034)
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/appsettings.Development.json
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appsettings.Development.json
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/appsettings.Development.json
  dotnet/samples/04.ai.d.chainedActions.listBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/appsettings.Development.json
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/Program.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/appsettings.Development.json
  dotnet/samples/04.e.twentyQuestions/Program.cs
  dotnet/samples/04.e.twentyQuestions/appsettings.Development.json
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

chore: add schema and remove project id in teamsapp yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.yml
  js/samples/05.chatModeration/teamsapp.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.yml
  js/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  js/samples/07.whoBot/teamsapp.yml
Owners: @microsoft/teams-ai-devs

chore: remove project id from teamsapp yml
  dotnet/samples/06.auth.oauth.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
Owners: @microsoft/teams-ai-devs

[C#] chore: remove project id from teamsapp yml (#1039)
  dotnet/samples/06.auth.oauth.messageExtension/teamsapp.yml
  dotnet/samples/06.auth.teamsSSO.bot/teamsapp.yml
Owners: @microsoft/teams-ai-devs

[JS] chore: add schema and remove project id in teamsapp yml (#1038)
  js/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
  js/samples/04.ai.a.teamsChefBot/teamsapp.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.local.yml
  js/samples/04.ai.f.vision.cardMaster/teamsapp.yml
  js/samples/05.chatModeration/teamsapp.yml
  js/samples/06.assistants.a.mathBot/teamsapp.yml
  js/samples/06.auth.oauth.adaptiveCard/teamsapp.yml
  js/samples/06.auth.teamsSSO.messageExtension/teamsapp.yml
  js/samples/07.whoBot/teamsapp.yml
Owners: @microsoft/teams-ai-devs

[C#] chore: Fix turn state bug (#1035)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/State/TurnState.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/appPackage/manifest.json
  js/samples/04.ai.b.messageExtensions.AI-ME/appPackage/manifest.json
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[C#] chore: Bump to `preview-6`
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[C#] chore: Bump to `preview-6` (#1040)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

Update package for release
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

actionExecute unit tests,vscode debugging extension
  js/.vscode/launch.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

actionSubmit tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/AdaptiveCards.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

search tests
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

fix
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

oauth adaptive card auth tests + bug fix
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

oauthbot tests and user token access tests
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

bump to v1.0.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
Owners: @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

update sample versions
  .gitignore
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[JS] bump: Teams-AI package for release (#1042)
  js/packages/teams-ai/package.json
  js/samples/01.messaging.a.echoBot/package.json
  js/samples/02.messageExtensions.a.searchCommand/package.json
  js/samples/03.adaptiveCards.a.typeAheadBot/package.json
  js/samples/04.ai.a.teamsChefBot/package.json
  js/samples/04.ai.b.messageExtensions.AI-ME/package.json
  js/samples/04.ai.d.chainedActions.listBot/package.json
  js/samples/04.ai.e.chainedActions.devOpsBot/package.json
  js/samples/04.ai.f.vision.cardMaster/package.json
  js/samples/04.e.twentyQuestions/package.json
  js/samples/05.chatModeration/package.json
  js/samples/06.assistants.a.mathBot/package.json
  js/samples/06.assistants.b.orderBot/package.json
  js/samples/06.auth.oauth.adaptiveCard/package.json
  js/samples/06.auth.oauth.bot/package.json
  js/samples/06.auth.oauth.messageExtension/package.json
  js/samples/06.auth.teamsSSO.bot/package.json
  js/samples/06.auth.teamsSSO.messageExtension/package.json
  js/samples/07.whoBot/package.json
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

version 1.0.0
  js/package.json
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

[JS] chore: bump teams-ai package version (#1045)
  js/package.json
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

Remove private
  js/package.json
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

[C#] chore: bump .NET library to v1.0.0 (#1044)
  .gitignore
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @singhk97, @swatDong, @kuojianlu, @lilyydu, @corinagum, @aacebo

[JS] chore: authentication & adaptive cards unit tests (#1043)
  js/.vscode/launch.json
  js/packages/teams-ai/src/AdaptiveCards.spec.ts
  js/packages/teams-ai/src/AdaptiveCards.ts
  js/packages/teams-ai/src/authentication/Authentication.spec.ts
  js/packages/teams-ai/src/authentication/Authentication.ts
  js/packages/teams-ai/src/authentication/OAuthAdaptiveCardAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.ts
  js/packages/teams-ai/src/authentication/UserTokenAccess.spec.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

added MemoryFork and TestMemoryFork tests
  js/packages/teams-ai/src/MemoryFork.spec.ts
  js/packages/teams-ai/src/TestMemoryFork.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

updated with lint changes
  js/packages/teams-ai/src/MemoryFork.spec.ts
  js/packages/teams-ai/src/MemoryFork.ts
  js/packages/teams-ai/src/TestMemoryFork.ts
Owners: @corinagum, @aacebo, @lilyydu, @singhk97

.github/CODEOWNERS:

* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS
/js @corinagum @aacebo @lilyydu @singhk97

# .NET
/dotnet @singhk97 @swatDong @kuojianlu @lilyydu @corinagum @aacebo

# Python
/python @aacebo @blackchoey @lilyydu @singhk97

# TTK
**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
