Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @corinagum, @Stevenic, @singhk97, @aacebo, @microsoft/teams-ai-devs

.github/CODEOWNERS:

* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS
/js @corinagum @Stevenic

# .NET
/dotnet @singhk97

# Python
/python @aacebo

# TTK
**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

[PY] docs: typeahead readme (#563)
  python/samples/03.adaptiveCards.a.typeAheadBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/assets/screenshot.PNG
Owners: @aacebo

[repo] chore: add python to docs (#599)
  getting-started/00.PROMPTS.md
  getting-started/01.PROMPT-TEMPLATES.md
  getting-started/02.PLANNER.md
  getting-started/03.ACTIONS.md
  getting-started/04.CHAIN.md
  getting-started/05.TURNS.md
  getting-started/README.md
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

update echo sample
  python/samples/01.messaging.a.echoBot/.pylintrc
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/.vscode/tasks.json
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/01.messaging.a.echoBot/appPackage/color.png
  python/samples/01.messaging.a.echoBot/appPackage/manifest.json
  python/samples/01.messaging.a.echoBot/appPackage/outline.png
  python/samples/01.messaging.a.echoBot/assets/screenshot_0.png
  python/samples/01.messaging.a.echoBot/assets/screenshot_1.png
  python/samples/01.messaging.a.echoBot/assets/screenshot_2.png
  python/samples/01.messaging.a.echoBot/assets/screenshot_3.png
  python/samples/01.messaging.a.echoBot/infra/azure.bicep
  python/samples/01.messaging.a.echoBot/infra/azure.parameters.json
  python/samples/01.messaging.a.echoBot/infra/botRegistration/azurebot.bicep
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/poetry.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/01.messaging.a.echoBot/scripts/__init__.py
  python/samples/01.messaging.a.echoBot/scripts/ci.py
  python/samples/01.messaging.a.echoBot/scripts/clean.py
  python/samples/01.messaging.a.echoBot/scripts/fmt.py
  python/samples/01.messaging.a.echoBot/scripts/lint.py
  python/samples/01.messaging.a.echoBot/scripts/start.py
  python/samples/01.messaging.a.echoBot/scripts/test.py
  python/samples/01.messaging.a.echoBot/src/api.py
  python/samples/01.messaging.a.echoBot/src/app.py
  python/samples/01.messaging.a.echoBot/src/bot.py
  python/samples/01.messaging.a.echoBot/src/config.py
  python/samples/01.messaging.a.echoBot/teamsapp.local.yml
  python/samples/01.messaging.a.echoBot/teamsapp.yml
Owners: @aacebo, @microsoft/teams-ai-devs

update light bot
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/04.ai.a.teamsChefBot/.vscode/launch.json
  python/samples/04.ai.c.actionMapping.lightBot/.pylintrc
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/launch.json
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/tasks.json
  python/samples/04.ai.c.actionMapping.lightBot/README.md
  python/samples/04.ai.c.actionMapping.lightBot/appPackage/color.png
  python/samples/04.ai.c.actionMapping.lightBot/appPackage/manifest.json
  python/samples/04.ai.c.actionMapping.lightBot/appPackage/outline.png
  python/samples/04.ai.c.actionMapping.lightBot/assets/screenshot_0.png
  python/samples/04.ai.c.actionMapping.lightBot/assets/screenshot_1.png
  python/samples/04.ai.c.actionMapping.lightBot/assets/screenshot_2.png
  python/samples/04.ai.c.actionMapping.lightBot/assets/screenshot_3.png
  python/samples/04.ai.c.actionMapping.lightBot/infra/azure.bicep
  python/samples/04.ai.c.actionMapping.lightBot/infra/azure.parameters.json
  python/samples/04.ai.c.actionMapping.lightBot/infra/botRegistration/azurebot.bicep
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/scripts/__init__.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/ci.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/clean.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/fmt.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/lint.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/start.py
  python/samples/04.ai.c.actionMapping.lightBot/scripts/test.py
  python/samples/04.ai.c.actionMapping.lightBot/src/api.py
  python/samples/04.ai.c.actionMapping.lightBot/src/app.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
  python/samples/04.ai.c.actionMapping.lightBot/src/config.py
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/chatGPT/config.json
  python/samples/04.ai.c.actionMapping.lightBot/src/prompts/chatGPT/skprompt.txt
  python/samples/04.ai.c.actionMapping.lightBot/src/state.py
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  python/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Owners: @aacebo, @microsoft/teams-ai-devs

Update README.md
  python/README.md
Owners: @aacebo

Update poetry.lock
  python/samples/01.messaging.a.echoBot/poetry.lock
Owners: @aacebo

Update poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
Owners: @aacebo

quick fix
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/samples/.gitignore
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.q.questBot/Program.cs
  dotnet/samples/LocalPkg/Microsoft.TeamsAI.1.0.0-preview.nupkg
  dotnet/samples/LocalPkg/NuGet_Package_Placeholder
  dotnet/samples/NuGet.Config
Owners: @singhk97

update dependencies to fix samples build
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.q.questBot/QuestBot.csproj
Owners: @singhk97

[C#] feat: update samples for public preview (#620)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/.editorconfig
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/samples/.gitignore
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.q.questBot/Program.cs
  dotnet/samples/04.q.questBot/QuestBot.csproj
  dotnet/samples/LocalPkg/Microsoft.TeamsAI.1.0.0-preview.nupkg
  dotnet/samples/LocalPkg/NuGet_Package_Placeholder
  dotnet/samples/NuGet.Config
Owners: @singhk97

feat: application route for fluent api
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationRouteTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/ApplicationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/MultipleRouteSelector.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Route.cs
Owners: @singhk97

[PY] fix: task not found error in samples
  python/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/04.ai.a.teamsChefBot/.vscode/launch.json
Owners: @aacebo

test echo workspace settings for python
  python/samples/01.messaging.a.echoBot/.vscode/launch.json
  python/samples/01.messaging.a.echoBot/.vscode/settings.json
Owners: @aacebo

[repo] docs: update c# samples docs
  dotnet/samples/README.md
Owners: @singhk97

Update README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
Owners: @singhk97

[PY] fix: task not found error in samples (#623)
  python/README.md
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/04.ai.a.teamsChefBot/.vscode/launch.json
Owners: @aacebo

[repo] docs: update c# samples docs (#624)
  dotnet/samples/README.md
Owners: @singhk97

Update README.md
  dotnet/samples/README.md
Owners: @singhk97

docs: update chef bot sample readme
  python/samples/04.ai.a.teamsChefBot/README.md
  python/samples/04.ai.a.teamsChefBot/teamsapp.local.yml
Owners: @aacebo, @microsoft/teams-ai-devs

Update README.md
  dotnet/samples/README.md
Owners: @singhk97

add python settings to samples
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/launch.json
  python/samples/03.adaptiveCards.a.typeAheadBot/.vscode/settings.json
  python/samples/04.ai.a.teamsChefBot/.vscode/launch.json
  python/samples/04.ai.a.teamsChefBot/.vscode/settings.json
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/launch.json
  python/samples/04.ai.c.actionMapping.lightBot/.vscode/settings.json
Owners: @aacebo

update sample readmes
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/04.ai.c.actionMapping.lightBot/README.md
Owners: @aacebo

Update README.md
  dotnet/samples/README.md
Owners: @singhk97

update readme
  python/samples/01.messaging.a.echoBot/README.md
  python/samples/04.ai.c.actionMapping.lightBot/README.md
Owners: @aacebo

Update README.md
  dotnet/samples/README.md
Owners: @singhk97

Update README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
Owners: @singhk97

fix grammar idssue
  dotnet/samples/01.messaging.echoBot/README.md
  dotnet/samples/02.messageExtensions.a.searchCommand/README.md
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
  dotnet/samples/04.ai.b.messageExtensions.gptME/README.md
  dotnet/samples/04.ai.d.chainedActions.listBot/README.md
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/README.md
  dotnet/samples/04.e.twentyQuestions/README.md
  dotnet/samples/04.q.questBot/README.md
Owners: @singhk97

add azure client and disable moderation in azure planner
  python/packages/ai/.pylintrc
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/models/azure_openai/client/__init__.py
  python/packages/ai/teams/ai/models/azure_openai/client/azure_openai_client.py
  python/packages/ai/teams/ai/models/azure_openai/planner.py
Owners: @aacebo

[PY] fix: add azure client and disable moderation in azure planner (#631)
  python/packages/ai/.pylintrc
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/models/azure_openai/client/__init__.py
  python/packages/ai/teams/ai/models/azure_openai/client/azure_openai_client.py
  python/packages/ai/teams/ai/models/azure_openai/planner.py
Owners: @aacebo

[C#] feat: adaptive card fluent api
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/AdaptiveCards.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Query.cs
Owners: @singhk97

Support sending no result from taskModule.submit
  js/packages/teams-ai/src/TaskModules.ts
Owners: @corinagum, @Stevenic

[repo] docs: fix dotnet samples (#630)
  dotnet/samples/01.messaging.echoBot/README.md
  dotnet/samples/02.messageExtensions.a.searchCommand/README.md
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/README.md
  dotnet/samples/04.ai.a.teamsChefBot/README.md
  dotnet/samples/04.ai.b.messageExtensions.gptME/README.md
  dotnet/samples/04.ai.d.chainedActions.listBot/README.md
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/README.md
  dotnet/samples/04.e.twentyQuestions/README.md
  dotnet/samples/04.q.questBot/README.md
  dotnet/samples/README.md
Owners: @singhk97

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

add dotnet build
  azure-pipelines.yml
  pipelines/dotnet-build.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

push nuget steps test
  pipelines/dotnet-build.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

Update dotnet.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

Update dotnet.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

Update dotnet.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

Update dotnet.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer

Update dotnet.yml
  pipelines/dotnet.yml
Owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer
