Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

[JS] chore: Move OrderBot to ai-apps folder (#1516)
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintignore
  js/samples/04.ai-apps/e.assistants-orderBot/.eslintrc
  js/samples/04.ai-apps/e.assistants-orderBot/.gitignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierignore
  js/samples/04.ai-apps/e.assistants-orderBot/.prettierrc
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/launch.json
  js/samples/04.ai-apps/e.assistants-orderBot/.vscode/tasks.json
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/color.png
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/manifest.json
  js/samples/04.ai-apps/e.assistants-orderBot/appPackage/outline.png
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.dev.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.staging
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderCard.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.json
  js/samples/04.ai-apps/e.assistants-orderBot/src/foodOrderViewSchema.ts
  js/samples/04.ai-apps/e.assistants-orderBot/src/index.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.yml
  js/samples/04.ai-apps/e.assistants-orderBot/tsconfig.json
  js/samples/04.ai-apps/e.assistants-orderBot/web.config
  js/samples/06.assistants.b.orderBot/README.md
  js/samples/06.assistants.b.orderBot/infra/azure.parameters.json
  js/samples/06.assistants.b.orderBot/teamsapp.local.yml
  js/samples/06.assistants.b.orderBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update sample's repo link
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

#1509 Add ability to logRequests in LlamaModel.ts
  js/packages/teams-ai/src/models/LlamaModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Move Llama model sample to ai-concepts folder
  js/samples/03.ai-concepts/e.customModel-LLAMA/.eslintignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.eslintrc
  js/samples/03.ai-concepts/e.customModel-LLAMA/.gitignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.prettierignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.prettierrc
  js/samples/03.ai-concepts/e.customModel-LLAMA/.vscode/launch.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/.vscode/tasks.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/README.md
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/color.png
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/manifest.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/outline.png
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.dev
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.dev.user
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.local
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.local.user
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.staging
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/azure.bicep
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/azure.parameters.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/sample.env
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/index.ts
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/actions.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.local.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.testtool.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/tsconfig.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/web.config
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/samples/08.datasource.azureAISearch/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] chore: #1509 - Update LlamaModel and move Llama sample to ai-concepts folder (#1510)
  js/packages/teams-ai/src/models/LlamaModel.ts
  js/samples/03.ai-concepts/e.customModel-LLAMA/.eslintignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.eslintrc
  js/samples/03.ai-concepts/e.customModel-LLAMA/.gitignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.prettierignore
  js/samples/03.ai-concepts/e.customModel-LLAMA/.prettierrc
  js/samples/03.ai-concepts/e.customModel-LLAMA/.vscode/launch.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/.vscode/tasks.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/README.md
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/color.png
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/manifest.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/appPackage/outline.png
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.dev
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.dev.user
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.local
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.local.user
  js/samples/03.ai-concepts/e.customModel-LLAMA/env/.env.staging
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/azure.bicep
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/azure.parameters.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/sample.env
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/index.ts
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/actions.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/config.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/src/prompts/default/skprompt.txt
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.local.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.testtool.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/teamsapp.yml
  js/samples/03.ai-concepts/e.customModel-LLAMA/tsconfig.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/web.config
  js/samples/04.ai.g.LLAMA/src/prompts/default/skprompt.txt
  js/samples/08.datasource.azureAISearch/teamsapp.testtool.yml
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move OAuth Adaptive Card sample to authentication folder
  js/samples/05.authentication/a.oauth-adaptiveCard/sample.env
  js/samples/05.authentication/c.oauth-messageExtension/.eslintignore
  js/samples/05.authentication/c.oauth-messageExtension/.eslintrc
  js/samples/05.authentication/c.oauth-messageExtension/.gitignore
  js/samples/05.authentication/c.oauth-messageExtension/.prettierignore
  js/samples/05.authentication/c.oauth-messageExtension/.prettierrc
  js/samples/05.authentication/c.oauth-messageExtension/.vscode/launch.json
  js/samples/05.authentication/c.oauth-messageExtension/.vscode/tasks.json
  js/samples/05.authentication/c.oauth-messageExtension/.webappignore
  js/samples/05.authentication/c.oauth-messageExtension/README.md
  js/samples/05.authentication/c.oauth-messageExtension/aad.manifest.json
  js/samples/05.authentication/c.oauth-messageExtension/appPackage/color.png
  js/samples/05.authentication/c.oauth-messageExtension/appPackage/manifest.json
  js/samples/05.authentication/c.oauth-messageExtension/appPackage/outline.png
  js/samples/05.authentication/c.oauth-messageExtension/env/.env.dev
  js/samples/05.authentication/c.oauth-messageExtension/env/.env.dev.user
  js/samples/05.authentication/c.oauth-messageExtension/env/.env.local
  js/samples/05.authentication/c.oauth-messageExtension/env/.env.local.user
  js/samples/05.authentication/c.oauth-messageExtension/env/.env.staging
  js/samples/05.authentication/c.oauth-messageExtension/infra/azure.bicep
  js/samples/05.authentication/c.oauth-messageExtension/infra/azure.local.bicep
  js/samples/05.authentication/c.oauth-messageExtension/infra/azure.parameters.json
  js/samples/05.authentication/c.oauth-messageExtension/infra/azure.parameters.local.json
  js/samples/05.authentication/c.oauth-messageExtension/infra/botRegistration/azurebot.bicep
  js/samples/05.authentication/c.oauth-messageExtension/infra/botRegistration/readme.md
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/c.oauth-messageExtension/sample.env
  js/samples/05.authentication/c.oauth-messageExtension/src/cards.ts
  js/samples/05.authentication/c.oauth-messageExtension/src/graphClient.ts
  js/samples/05.authentication/c.oauth-messageExtension/src/index.ts
  js/samples/05.authentication/c.oauth-messageExtension/teamsapp.local.yml
  js/samples/05.authentication/c.oauth-messageExtension/teamsapp.yml
  js/samples/05.authentication/c.oauth-messageExtension/tsconfig.json
  js/samples/05.authentication/c.oauth-messageExtension/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move Teams SSO bot sample to authentication folder
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/.eslintignore
  js/samples/05.authentication/d.teamsSSO-bot/.eslintrc
  js/samples/05.authentication/d.teamsSSO-bot/.gitignore
  js/samples/05.authentication/d.teamsSSO-bot/.prettierignore
  js/samples/05.authentication/d.teamsSSO-bot/.prettierrc
  js/samples/05.authentication/d.teamsSSO-bot/.vscode/launch.json
  js/samples/05.authentication/d.teamsSSO-bot/.vscode/settings.json
  js/samples/05.authentication/d.teamsSSO-bot/.vscode/tasks.json
  js/samples/05.authentication/d.teamsSSO-bot/README.md
  js/samples/05.authentication/d.teamsSSO-bot/aad.manifest.json
  js/samples/05.authentication/d.teamsSSO-bot/appPackage/color.png
  js/samples/05.authentication/d.teamsSSO-bot/appPackage/manifest.json
  js/samples/05.authentication/d.teamsSSO-bot/appPackage/outline.png
  js/samples/05.authentication/d.teamsSSO-bot/env/.env.dev
  js/samples/05.authentication/d.teamsSSO-bot/env/.env.dev.user
  js/samples/05.authentication/d.teamsSSO-bot/env/.env.local
  js/samples/05.authentication/d.teamsSSO-bot/env/.env.local.user
  js/samples/05.authentication/d.teamsSSO-bot/infra/azure.bicep
  js/samples/05.authentication/d.teamsSSO-bot/infra/azure.parameters.json
  js/samples/05.authentication/d.teamsSSO-bot/infra/botRegistration/azurebot.bicep
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/d.teamsSSO-bot/sample.env
  js/samples/05.authentication/d.teamsSSO-bot/src/index.ts
  js/samples/05.authentication/d.teamsSSO-bot/src/public/auth-end.html
  js/samples/05.authentication/d.teamsSSO-bot/src/public/auth-start.html
  js/samples/05.authentication/d.teamsSSO-bot/teamsapp.local.yml
  js/samples/05.authentication/d.teamsSSO-bot/teamsapp.yml
  js/samples/05.authentication/d.teamsSSO-bot/tsconfig.json
  js/samples/05.authentication/d.teamsSSO-bot/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

fix state and add some tests
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/adaptive_cards/adaptive_cards.py
  python/packages/ai/teams/auth/auth_manager.py
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/state/conversation_state.py
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/state/temp_state.py
  python/packages/ai/teams/state/turn_state.py
  python/packages/ai/teams/state/user_state.py
  python/packages/ai/teams/task_modules/task_modules.py
  python/packages/ai/tests/auth/test_auth_manager.py
  python/packages/ai/tests/state/test_custom_turn_state.py
  python/packages/ai/tests/state/test_state.py
  python/packages/ai/tests/state/test_turn_state.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move Teams SSO Message Extension sample to authentication folder
  js/samples/05.authentication/c.oauth-messageExtension/README.md
  js/samples/05.authentication/d.teamsSSO-bot/README.md
  js/samples/05.authentication/e.teamsSSO-messageExtension/.eslintignore
  js/samples/05.authentication/e.teamsSSO-messageExtension/.eslintrc
  js/samples/05.authentication/e.teamsSSO-messageExtension/.gitignore
  js/samples/05.authentication/e.teamsSSO-messageExtension/.prettierignore
  js/samples/05.authentication/e.teamsSSO-messageExtension/.prettierrc
  js/samples/05.authentication/e.teamsSSO-messageExtension/.vscode/launch.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/.vscode/settings.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/.vscode/tasks.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/README.md
  js/samples/05.authentication/e.teamsSSO-messageExtension/aad.manifest.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/appPackage/color.png
  js/samples/05.authentication/e.teamsSSO-messageExtension/appPackage/manifest.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/appPackage/outline.png
  js/samples/05.authentication/e.teamsSSO-messageExtension/env/.env.dev
  js/samples/05.authentication/e.teamsSSO-messageExtension/env/.env.dev.user
  js/samples/05.authentication/e.teamsSSO-messageExtension/env/.env.local
  js/samples/05.authentication/e.teamsSSO-messageExtension/env/.env.local.user
  js/samples/05.authentication/e.teamsSSO-messageExtension/infra/azure.bicep
  js/samples/05.authentication/e.teamsSSO-messageExtension/infra/azure.parameters.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/infra/botRegistration/azurebot.bicep
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/sample.env
  js/samples/05.authentication/e.teamsSSO-messageExtension/src/cards.ts
  js/samples/05.authentication/e.teamsSSO-messageExtension/src/graphClient.ts
  js/samples/05.authentication/e.teamsSSO-messageExtension/src/index.ts
  js/samples/05.authentication/e.teamsSSO-messageExtension/src/public/auth-end.html
  js/samples/05.authentication/e.teamsSSO-messageExtension/src/public/auth-start.html
  js/samples/05.authentication/e.teamsSSO-messageExtension/teamsapp.local.yml
  js/samples/05.authentication/e.teamsSSO-messageExtension/teamsapp.yml
  js/samples/05.authentication/e.teamsSSO-messageExtension/tsconfig.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/web.config
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update state.py
  python/packages/ai/teams/state/state.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[JS] chore: Move devOps sample to ai-apps folder (#1513)
  js/samples/04.ai-apps/b.devOpsBot/.eslintignore
  js/samples/04.ai-apps/b.devOpsBot/.eslintrc
  js/samples/04.ai-apps/b.devOpsBot/.gitignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierignore
  js/samples/04.ai-apps/b.devOpsBot/.prettierrc
  js/samples/04.ai-apps/b.devOpsBot/.vscode/launch.json
  js/samples/04.ai-apps/b.devOpsBot/.vscode/tasks.json
  js/samples/04.ai-apps/b.devOpsBot/README.md
  js/samples/04.ai-apps/b.devOpsBot/appPackage/color.png
  js/samples/04.ai-apps/b.devOpsBot/appPackage/manifest.json
  js/samples/04.ai-apps/b.devOpsBot/appPackage/outline.png
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev
  js/samples/04.ai-apps/b.devOpsBot/env/.env.dev.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local
  js/samples/04.ai-apps/b.devOpsBot/env/.env.local.user
  js/samples/04.ai-apps/b.devOpsBot/env/.env.staging
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.bicep
  js/samples/04.ai-apps/b.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai-apps/b.devOpsBot/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/sample.env
  js/samples/04.ai-apps/b.devOpsBot/src/index.ts
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/actions.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/config.json
  js/samples/04.ai-apps/b.devOpsBot/src/prompts/sequence/skprompt.txt
  js/samples/04.ai-apps/b.devOpsBot/src/responses.ts
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.local.yml
  js/samples/04.ai-apps/b.devOpsBot/teamsapp.yml
  js/samples/04.ai-apps/b.devOpsBot/tsconfig.json
  js/samples/04.ai-apps/b.devOpsBot/web.config
  js/samples/04.ai.e.chainedActions.devOpsBot/infra/azure.parameters.json
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.local.yml
  js/samples/04.ai.e.chainedActions.devOpsBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] chore: Move CardGazer sample to ai-apps folder (#1514)
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintignore
  js/samples/04.ai-apps/c.vision-cardGazer/.eslintrc
  js/samples/04.ai-apps/c.vision-cardGazer/.gitignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierignore
  js/samples/04.ai-apps/c.vision-cardGazer/.prettierrc
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/launch.json
  js/samples/04.ai-apps/c.vision-cardGazer/.vscode/tasks.json
  js/samples/04.ai-apps/c.vision-cardGazer/README.md
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/color.png
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/manifest.json
  js/samples/04.ai-apps/c.vision-cardGazer/appPackage/outline.png
  js/samples/04.ai-apps/c.vision-cardGazer/assets/card.png
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.dev.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.local.user
  js/samples/04.ai-apps/c.vision-cardGazer/env/.env.staging
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/azure.parameters.json
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/c.vision-cardGazer/infra/botRegistration/readme.md
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/sample.env
  js/samples/04.ai-apps/c.vision-cardGazer/src/index.ts
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/actions.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/config.json
  js/samples/04.ai-apps/c.vision-cardGazer/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.local.yml
  js/samples/04.ai-apps/c.vision-cardGazer/teamsapp.yml
  js/samples/04.ai-apps/c.vision-cardGazer/tsconfig.json
  js/samples/04.ai-apps/c.vision-cardGazer/web.config
  js/samples/04.ai.f.vision.cardGazer/README.md
  js/samples/04.ai.f.vision.cardGazer/env/.env.local.user
  js/samples/04.ai.f.vision.cardGazer/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move lightbot sample to ai-concepts folder
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.eslintignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.eslintrc
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.gitignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.prettierignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.prettierrc
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/launch.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/tasks.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/README.md
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/color.png
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/manifest.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/outline.png
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.dev
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.dev.user
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.local
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.local.user
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.staging
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/azure.bicep
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/azure.parameters.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/sample.env
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/actions.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/config.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/skprompt.txt
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.local.yml
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.yml
  js/samples/03.ai-concepts/c.actionMapping-lightBot/tsconfig.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/web.config
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.parameters.json
  js/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  js/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update sample's repo link
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Move lightbot sample to ai-concepts folder (#1503)
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.eslintignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.eslintrc
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.gitignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.prettierignore
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.prettierrc
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/launch.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/.vscode/tasks.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/README.md
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/color.png
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/manifest.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/appPackage/outline.png
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.dev
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.dev.user
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.local
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.local.user
  js/samples/03.ai-concepts/c.actionMapping-lightBot/env/.env.staging
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/azure.bicep
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/azure.parameters.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/sample.env
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/index.ts
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/actions.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/config.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/src/prompts/sequence/skprompt.txt
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.local.yml
  js/samples/03.ai-concepts/c.actionMapping-lightBot/teamsapp.yml
  js/samples/03.ai-concepts/c.actionMapping-lightBot/tsconfig.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/web.config
  js/samples/04.ai.c.actionMapping.lightBot/README.md
  js/samples/04.ai.c.actionMapping.lightBot/infra/azure.parameters.json
  js/samples/04.ai.c.actionMapping.lightBot/teamsapp.local.yml
  js/samples/04.ai.c.actionMapping.lightBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move listbot sample to ai-concepts folder
  js/samples/03.ai-concepts/d.chainedActions-listBot/.eslintignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.eslintrc
  js/samples/03.ai-concepts/d.chainedActions-listBot/.gitignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.prettierignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.prettierrc
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/launch.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/tasks.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/README.md
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/color.png
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/manifest.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/outline.png
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.dev
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.dev.user
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.local
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.local.user
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.staging
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/azure.bicep
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/azure.parameters.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/sample.env
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/actions.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/skprompt.txt
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/responses.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.local.yml
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.yml
  js/samples/03.ai-concepts/d.chainedActions-listBot/tsconfig.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/web.config
  js/samples/04.ai.d.chainedActions.listBot/infra/azure.parameters.json
  js/samples/04.ai.d.chainedActions.listBot/teamsapp.local.yml
  js/samples/04.ai.d.chainedActions.listBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] chore: Move listbot sample to ai-concepts folder (#1504)
  js/samples/03.ai-concepts/d.chainedActions-listBot/.eslintignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.eslintrc
  js/samples/03.ai-concepts/d.chainedActions-listBot/.gitignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.prettierignore
  js/samples/03.ai-concepts/d.chainedActions-listBot/.prettierrc
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/launch.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/.vscode/tasks.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/README.md
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/color.png
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/manifest.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/appPackage/outline.png
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.dev
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.dev.user
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.local
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.local.user
  js/samples/03.ai-concepts/d.chainedActions-listBot/env/.env.staging
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/azure.bicep
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/azure.parameters.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/sample.env
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/index.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/actions.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/config.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/prompts/monologue/skprompt.txt
  js/samples/03.ai-concepts/d.chainedActions-listBot/src/responses.ts
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.local.yml
  js/samples/03.ai-concepts/d.chainedActions-listBot/teamsapp.yml
  js/samples/03.ai-concepts/d.chainedActions-listBot/tsconfig.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/web.config
  js/samples/04.ai.d.chainedActions.listBot/infra/azure.parameters.json
  js/samples/04.ai.d.chainedActions.listBot/teamsapp.local.yml
  js/samples/04.ai.d.chainedActions.listBot/teamsapp.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Add pdf to .gitattributes
  js/.gitattributes
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

add sample base
  python/packages/ai/teams/auth/oauth/oauth.py
  python/packages/ai/teams/auth/oauth/oauth_dialog.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/packages/ai/teams/auth/oauth/oauth_options.py
  python/samples/06.auth.oauth.bot/.gitignore
  python/samples/06.auth.oauth.bot/.pylintrc
  python/samples/06.auth.oauth.bot/.vscode/launch.json
  python/samples/06.auth.oauth.bot/.vscode/settings.json
  python/samples/06.auth.oauth.bot/.vscode/tasks.json
  python/samples/06.auth.oauth.bot/.webappignore
  python/samples/06.auth.oauth.bot/README.md
  python/samples/06.auth.oauth.bot/aad.manifest.json
  python/samples/06.auth.oauth.bot/appPackage/color.png
  python/samples/06.auth.oauth.bot/appPackage/manifest.json
  python/samples/06.auth.oauth.bot/appPackage/outline.png
  python/samples/06.auth.oauth.bot/assets/screenshot_0.png
  python/samples/06.auth.oauth.bot/assets/screenshot_1.png
  python/samples/06.auth.oauth.bot/assets/screenshot_2.png
  python/samples/06.auth.oauth.bot/assets/screenshot_3.png
  python/samples/06.auth.oauth.bot/infra/azure.bicep
  python/samples/06.auth.oauth.bot/infra/azure.local.bicep
  python/samples/06.auth.oauth.bot/infra/azure.parameters.json
  python/samples/06.auth.oauth.bot/infra/azure.parameters.local.json
  python/samples/06.auth.oauth.bot/infra/botRegistration/azurebot.bicep
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/poetry.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.bot/scripts/__init__.py
  python/samples/06.auth.oauth.bot/scripts/ci.py
  python/samples/06.auth.oauth.bot/scripts/clean.py
  python/samples/06.auth.oauth.bot/scripts/fmt.py
  python/samples/06.auth.oauth.bot/scripts/lint.py
  python/samples/06.auth.oauth.bot/scripts/start.py
  python/samples/06.auth.oauth.bot/scripts/test.py
  python/samples/06.auth.oauth.bot/src/api.py
  python/samples/06.auth.oauth.bot/src/app.py
  python/samples/06.auth.oauth.bot/src/bot.py
  python/samples/06.auth.oauth.bot/src/config.py
  python/samples/06.auth.oauth.bot/teamsapp.local.yml
  python/samples/06.auth.oauth.bot/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

bug fix typo for requires_action
  python/packages/ai/teams/ai/planners/assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[PY] fix: AssistantsPlanner - typo for "requires_action" in _submit_user_input (#1525)
  python/packages/ai/teams/ai/planners/assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[JS] chore: Move chat moderation sample to ai-concepts folder (#1512)
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/f.chatModeration/.eslintignore
  js/samples/03.ai-concepts/f.chatModeration/.eslintrc
  js/samples/03.ai-concepts/f.chatModeration/.gitignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierignore
  js/samples/03.ai-concepts/f.chatModeration/.prettierrc
  js/samples/03.ai-concepts/f.chatModeration/.vscode/launch.json
  js/samples/03.ai-concepts/f.chatModeration/.vscode/tasks.json
  js/samples/03.ai-concepts/f.chatModeration/README.md
  js/samples/03.ai-concepts/f.chatModeration/appPackage/color.png
  js/samples/03.ai-concepts/f.chatModeration/appPackage/manifest.json
  js/samples/03.ai-concepts/f.chatModeration/appPackage/outline.png
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev
  js/samples/03.ai-concepts/f.chatModeration/env/.env.dev.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local
  js/samples/03.ai-concepts/f.chatModeration/env/.env.local.user
  js/samples/03.ai-concepts/f.chatModeration/env/.env.staging
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.bicep
  js/samples/03.ai-concepts/f.chatModeration/infra/azure.parameters.json
  js/samples/03.ai-concepts/f.chatModeration/infra/botRegistration/azurebot.bicep
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/03.ai-concepts/f.chatModeration/sample.env
  js/samples/03.ai-concepts/f.chatModeration/src/bot.ts
  js/samples/03.ai-concepts/f.chatModeration/src/index.ts
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/config.json
  js/samples/03.ai-concepts/f.chatModeration/src/prompts/chat/skprompt.txt
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.local.yml
  js/samples/03.ai-concepts/f.chatModeration/teamsapp.yml
  js/samples/03.ai-concepts/f.chatModeration/tsconfig.json
  js/samples/03.ai-concepts/f.chatModeration/web.config
  js/samples/05.chatModeration/README.md
  js/samples/05.chatModeration/infra/azure.parameters.json
  js/samples/05.chatModeration/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Move datasource Azure OpenAI sample to ai-apps
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/launch.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/tasks.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/outline.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.staging
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.testtool
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/readme.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/data/nba.pdf
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.testtool.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/tsconfig.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/web.config
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[JS] chore: Move datasource Azure OpenAI sample to ai-apps (#1520)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.eslintrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.gitignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierignore
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.prettierrc
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/launch.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/.vscode/tasks.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/color.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/manifest.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/appPackage/outline.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/assets/example.png
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.staging
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.testtool
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/azure.parameters.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/azurebot.bicep
  js/samples/04.ai-apps/h.datasource-azureOpenAI/infra/botRegistration/readme.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/card.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/data/nba.pdf
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/skprompt.txt
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.local.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.testtool.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/teamsapp.yml
  js/samples/04.ai-apps/h.datasource-azureOpenAI/tsconfig.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/web.config
  js/samples/08.datasource.azureOpenAI/README.md
  js/samples/08.datasource.azureOpenAI/infra/azure.parameters.json
  js/samples/08.datasource.azureOpenAI/teamsapp.local.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

patch
  js/samples/08.datasource.azureOpenAI/src/app.ts
  js/samples/08.datasource.azureOpenAI/src/index.ts
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[C#] feat: `Azure OpenAI On Your Data` support (#1478)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Models/OpenAIModelTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Microsoft.Teams.AI.Tests.csproj
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Embeddings/OpenAIEmbeddings.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/AzureSdkChatMessageExtensions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/ChatMessage.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/OpenAIModel.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Prompts/PromptTemplate.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/AdapterWithErrorHandler.cs
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.sln
  dotnet/samples/08.datasource.azureopenai/Config.cs
  dotnet/samples/08.datasource.azureopenai/Controllers/BotController.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/config.json
  dotnet/samples/08.datasource.azureopenai/Prompts/Chat/skprompt.txt
  dotnet/samples/08.datasource.azureopenai/Properties/launchSettings.json
  dotnet/samples/08.datasource.azureopenai/README.md
  dotnet/samples/08.datasource.azureopenai/ResponseCardCreator.cs
  dotnet/samples/08.datasource.azureopenai/assets/example.png
  dotnet/samples/08.datasource.azureopenai/infra/azure.bicep
  dotnet/samples/08.datasource.azureopenai/infra/azure.parameters.json
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/azurebot.bicep
  dotnet/samples/08.datasource.azureopenai/infra/botRegistration/readme.md
  dotnet/samples/08.datasource.azureopenai/nba.pdf
  dotnet/samples/08.datasource.azureopenai/teamsapp.local.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.testtool.yml
  dotnet/samples/08.datasource.azureopenai/teamsapp.yml
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong, @microsoft/teams-ai-devs

remove test tool
  js/samples/08.datasource.azureOpenAI/teamsapp.testtool.yml
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: AOAI sample patch (#1528)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/index.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Added support for calling OpenAI "like" services
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Added support for specifying a static seed
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Added support for enforcing the return of JSON from OpenAI.
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Added support for calling OpenAI like embedding services
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Added support for specifying the dimensions of embedding requests.
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/internals/types.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

implementation for ME bot
  python/samples/02.messageExtensions.a.searchCommand/.gitignore
  python/samples/02.messageExtensions.a.searchCommand/.pylintrc
  python/samples/02.messageExtensions.a.searchCommand/.vscode/launch.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/settings.json
  python/samples/02.messageExtensions.a.searchCommand/.vscode/tasks.json
  python/samples/02.messageExtensions.a.searchCommand/.webappignore
  python/samples/02.messageExtensions.a.searchCommand/README.md
  python/samples/02.messageExtensions.a.searchCommand/appPackage/color.png
  python/samples/02.messageExtensions.a.searchCommand/appPackage/manifest.json
  python/samples/02.messageExtensions.a.searchCommand/appPackage/outline.png
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev
  python/samples/02.messageExtensions.a.searchCommand/env/.env.dev.user
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local
  python/samples/02.messageExtensions.a.searchCommand/env/.env.local.user
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.bicep
  python/samples/02.messageExtensions.a.searchCommand/infra/azure.parameters.json
  python/samples/02.messageExtensions.a.searchCommand/infra/botRegistration/azurebot.bicep
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/scripts/__init__.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/ci.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/clean.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/fmt.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/lint.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/start.py
  python/samples/02.messageExtensions.a.searchCommand/scripts/test.py
  python/samples/02.messageExtensions.a.searchCommand/src/api.py
  python/samples/02.messageExtensions.a.searchCommand/src/app.py
  python/samples/02.messageExtensions.a.searchCommand/src/bot.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_package_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/cards/npm_search_result_card.py
  python/samples/02.messageExtensions.a.searchCommand/src/config.py
  python/samples/02.messageExtensions.a.searchCommand/src/state.py
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.local.yml
  python/samples/02.messageExtensions.a.searchCommand/teamsapp.yml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

Update js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Update js/packages/teams-ai/src/models/OpenAIModel.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] feat: Updates to OpenAIModel and OpenAIEmbeddings classes. (#1541)
  js/packages/teams-ai/src/embeddings/OpenAIEmbeddings.ts
  js/packages/teams-ai/src/internals/types.ts
  js/packages/teams-ai/src/models/OpenAIModel.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

fix last message bug and added comment
  python/packages/ai/teams/ai/models/openai_model.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs
