Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

fix failing test
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/DefaultActionsTests.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[repo] bump: dotnet to v1.3.0 (#1659)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/DefaultActionsTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Fix tests
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix line too long
  python/packages/ai/teams/ai/ai.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

do not include private keys in dictionary
  python/packages/ai/teams/state/todict.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

change from bracket syntax to object init
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Update state.py
  python/packages/ai/teams/state/state.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update dotnet.yml for Azure Pipelines
  pipelines/dotnet.yml
Owners: none

[PY] fix: ensure state saves and loads properly (#1660)
  python/packages/ai/teams/state/state.py
  python/packages/ai/teams/state/todict.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update dotnet.yml for Azure Pipelines
  pipelines/dotnet.yml
Owners: none

[C#] fix: Change bracket notation to object initializer (#1661)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Apply fixes
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/models/openai_model.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/moderators/openai_moderator.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/teams/ai/planners/plan.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update tests
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/moderators/test_openai_moderator.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Change sequence_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fixes
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/prompts/message.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Remove print
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97
