Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

[JS] fix: #1617 Update SayCommand to use correct text for referencedCitations (#1618)
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] feat: `AssistantsPlanner` support for Azure Assistants API (#1571)
  js/packages/teams-ai/package.json
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
  js/samples/04.ai-apps/d.assistants-mathBot/README.md
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local
  js/samples/04.ai-apps/d.assistants-mathBot/env/.env.local.user
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.bicep
  js/samples/04.ai-apps/d.assistants-mathBot/infra/azure.parameters.json
  js/samples/04.ai-apps/d.assistants-mathBot/sample.env
  js/samples/04.ai-apps/d.assistants-mathBot/src/bot.ts
  js/samples/04.ai-apps/d.assistants-mathBot/src/index.ts
  js/samples/04.ai-apps/d.assistants-mathBot/teamsapp.local.yml
  js/samples/04.ai-apps/e.assistants-orderBot/README.md
  js/samples/04.ai-apps/e.assistants-orderBot/env/.env.local.user
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.bicep
  js/samples/04.ai-apps/e.assistants-orderBot/infra/azure.parameters.json
  js/samples/04.ai-apps/e.assistants-orderBot/sample.env
  js/samples/04.ai-apps/e.assistants-orderBot/src/bot.ts
  js/samples/04.ai-apps/e.assistants-orderBot/teamsapp.local.yml
  js/yarn.lock
Owners: @aacebo, @corinagum, @lilyydu, @singhk97, @microsoft/teams-ai-devs

[C#] feat: `AssistantsPlanner` support for Azure Assistants API (#1609)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientAssistantTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientThreadTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/TestUtils/TestAssistantsOpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/ListResponse.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Message.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Run.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/Models/Tool.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Assistant.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.Thread.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlanner.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/AssistantsPlannerOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/06.assistants.a.mathBot/Config.cs
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.a.mathBot/Program.cs
  dotnet/samples/06.assistants.a.mathBot/appsettings.Development.json
  dotnet/samples/06.assistants.a.mathBot/appsettings.json
  dotnet/samples/06.assistants.a.mathBot/env/.env.dev.user
  dotnet/samples/06.assistants.a.mathBot/infra/azure.bicep
  dotnet/samples/06.assistants.a.mathBot/infra/azure.parameters.json
  dotnet/samples/06.assistants.b.orderBot/Config.cs
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.assistants.b.orderBot/Program.cs
  dotnet/samples/06.assistants.b.orderBot/appsettings.Development.json
  dotnet/samples/06.assistants.b.orderBot/appsettings.json
  dotnet/samples/06.assistants.b.orderBot/env/.env.dev.user
  dotnet/samples/06.assistants.b.orderBot/infra/azure.bicep
  dotnet/samples/06.assistants.b.orderBot/infra/azure.parameters.json
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[repo] docs: Update POWERED-BY-AI.md (#1613)
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

[C#] feat: change `PredictedSayCommand` to include response `ChatMessage` (#1610)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AITests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AssistantsPlannerTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/MonologueAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/Augmentations/SequenceAugmentationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/MonologueAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/SequenceAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Models/MessageContext.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Planners/PredictedSayCommand.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/ChatMessageJsonConverter.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/JsonConverters/CommandJsonConverter.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Add dev support to issues template
  .github/ISSUE_TEMPLATE/developer-support.md
Owners: none

write unit tests
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: `signinVerify` invoke may be processed by wrong OAuth Connection (#1620)
  js/packages/teams-ai/src/Application.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.spec.ts
  js/packages/teams-ai/src/authentication/BotAuthenticationBase.ts
  js/packages/teams-ai/src/authentication/OAuthBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.spec.ts
  js/packages/teams-ai/src/authentication/TeamsSsoBotAuthentication.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

added unit tests for assistants planner
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

removed file_ids from create
  python/packages/ai/teams/ai/planners/assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: Removing Azure AI Search details from Azure OpenAI Sample (#1584)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.dev.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/env/.env.local.user
  js/samples/04.ai-apps/h.datasource-azureOpenAI/sample.env
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/prompts/chat/config.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] feat: `AssistantsPlanner` support for Azure Assistants API (#1614)
  python/packages/ai/teams/ai/planners/__init__.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
  python/packages/ai/tests/test_teams_attachment_downloader.py
  python/samples/06.assistants.a.mathBot/README.md
  python/samples/06.assistants.a.mathBot/env/.env.dev.user
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/sample.env
  python/samples/06.assistants.a.mathBot/src/api.py
  python/samples/06.assistants.a.mathBot/src/bot.py
  python/samples/06.assistants.a.mathBot/src/config.py
  python/samples/06.assistants.b.orderBot/README.md
  python/samples/06.assistants.b.orderBot/env/.env.dev.user
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/sample.env
  python/samples/06.assistants.b.orderBot/src/bot.py
  python/samples/06.assistants.b.orderBot/src/config.py
  python/samples/06.assistants.b.orderBot/src/food_order_view_schema.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

add using tests
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

bump packages in samples
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update package versions
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[repo] chore: Add dev support to issues template (#1619)
  .github/ISSUE_TEMPLATE/developer-support.md
Owners: none

[C#] fix: `signinVerify` invoke may be processed by wrong OAuth Connection (#1627)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/BotAuthenticationBaseTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/OAuthBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/Application/Authentication/Bot/TeamsSsoBotAuthenticationTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/BotAuthenticationBase.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Authentication/Bot/TeamsSsoBotAuthentication.cs
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

fix bot
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
  python/samples/06.auth.oauth.messageExtensions/appPackage/manifest.json
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

lint and fmt
  python/packages/ai/teams/auth/oauth/oauth_adaptive_card.py
  python/packages/ai/teams/auth/oauth/oauth_message_extension.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update openai
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

fix assistants types
  python/packages/ai/tests/ai/planners/test_assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Rename Entities to AIEntity
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] refactor: Rename `Entities` interface to `AIEntity` (#1630)
  js/packages/teams-ai/src/actions/SayCommand.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

updated samples and user-auth docs
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/SAMPLES.md
Owners: none

updated pyproject.toml teams-ai vers
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Bump teams-ai package
  js/packages/teams-ai/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

updated additional components of auth
  getting-started/CONCEPTS/USER-AUTH.md
Owners: none

revert updates on package till post-release
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Bump the samples
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Bump teams-ai package
  js/packages/teams-ai/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Bump samples
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] docs: updated samples and user-auth docs (#1631)
  getting-started/CONCEPTS/USER-AUTH.md
  getting-started/SAMPLES.md
Owners: none

[JS] chore: Release js 1.2.0 (#1633)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

bump to 1.2.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

[C#] bump: to version 1.2.0 (#1634)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update version
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

update lock files
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/05.chatModeration/poetry.lock
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/scripts/install.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update README.md in datasource AzureOpenAI
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[PY] chore: release 1.1.0 (#1637)
  python/packages/ai/pyproject.toml
  python/samples/01.messaging.a.echoBot/poetry.lock
  python/samples/01.messaging.a.echoBot/pyproject.toml
  python/samples/02.messageExtensions.a.searchCommand/poetry.lock
  python/samples/02.messageExtensions.a.searchCommand/pyproject.toml
  python/samples/03.adaptiveCards.a.typeAheadBot/poetry.lock
  python/samples/03.adaptiveCards.a.typeAheadBot/pyproject.toml
  python/samples/04.ai.a.twentyQuestions/poetry.lock
  python/samples/04.ai.a.twentyQuestions/pyproject.toml
  python/samples/04.ai.b.messageExtensions.AI-ME/poetry.lock
  python/samples/04.ai.b.messageExtensions.AI-ME/pyproject.toml
  python/samples/04.ai.c.actionMapping.lightBot/poetry.lock
  python/samples/04.ai.c.actionMapping.lightBot/pyproject.toml
  python/samples/04.ai.d.chainedActions.listBot/poetry.lock
  python/samples/04.ai.d.chainedActions.listBot/pyproject.toml
  python/samples/04.ai.e.chainedActions.devOpsBot/poetry.lock
  python/samples/04.ai.e.chainedActions.devOpsBot/pyproject.toml
  python/samples/05.chatModeration/poetry.lock
  python/samples/05.chatModeration/pyproject.toml
  python/samples/06.assistants.a.mathBot/poetry.lock
  python/samples/06.assistants.a.mathBot/pyproject.toml
  python/samples/06.assistants.b.orderBot/poetry.lock
  python/samples/06.assistants.b.orderBot/pyproject.toml
  python/samples/06.auth.oauth.bot/poetry.lock
  python/samples/06.auth.oauth.bot/pyproject.toml
  python/samples/06.auth.oauth.messageExtensions/poetry.lock
  python/samples/06.auth.oauth.messageExtensions/pyproject.toml
  python/scripts/install.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97
