Repository microsoft/teams-ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/teams-ai-admins, @microsoft/teams-ai-maintainer, @aacebo, @corinagum, @lilyydu, @singhk97, @kuojianlu, @swatDong, @blackchoey, @microsoft/teams-ai-devs

.github/CODEOWNERS:

/\\* @microsoft/teams-ai-admins @microsoft/teams-ai-maintainer

# JS

/js @aacebo @corinagum @lilyydu @singhk97

# .NET

/dotnet @aacebo @corinagum @kuojianlu @lilyydu @singhk97 @swatDong

# Python

/python @aacebo @blackchoey @corinagum @lilyydu @singhk97

# TTK

**/teamsapp.yml @microsoft/teams-ai-devs
**/teamsapp.local.yml @microsoft/teams-ai-devs

[JS] chore: Update README.md in datasource AzureOpenAI (#1638)
  js/samples/04.ai-apps/h.datasource-azureOpenAI/README.md
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

state.save
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

feedback changes
  python/packages/ai/teams/app.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

working citations ux
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/DefaultAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/appPackage/color.png
  dotnet/samples/08.datasource.azureopenai/appPackage/manifest.json
  dotnet/samples/08.datasource.azureopenai/appPackage/outline.png
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update gitignore
  dotnet/samples/08.datasource.azureopenai/.gitignore
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

update docs
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: none

Update SequenceAugmentation.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

update test case
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: `SequenceAugmentation` + Citations (#1650)
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.spec.ts
  js/packages/teams-ai/src/augmentations/SequenceAugmentation.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add Citation and MessageContext to Message
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/message.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Create dataclass ClientCitation and related
  python/packages/ai/teams/citations/__init__.py
  python/packages/ai/teams/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Python: Update plan.response to be Message instead of string
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/moderators/azure_content_safety_moderator.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_monologue_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add citation related utilities
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/tests/ai/test_utilities.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move citations
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add utility get_used_citations
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/tests/ai/test_utilities.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add enable_feedback_loop to AIOptions
  python/packages/ai/teams/ai/ai_options.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Run format
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/citations/__init__.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/planners/plan.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/message.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
  python/packages/ai/tests/ai/moderators/test_azure_content_safety_moderator.py
  python/packages/ai/tests/ai/test_utilities.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Add extra JS test
  js/packages/teams-ai/src/Utilities.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Add citations logic to on_say_command
  python/packages/ai/teams/ai/ai.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix format/linting errors
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/augmentations/default_augmentation.py
  python/packages/ai/teams/ai/citations/citations.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/utilities.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix format/linting errors
  python/packages/ai/tests/ai/augmentations/test_default_augmentation.py
  python/packages/ai/tests/ai/augmentations/test_sequence_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix line too long
  python/packages/ai/teams/ai/ai.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix snake casing
  python/packages/ai/teams/ai/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix missing comma
  python/packages/ai/teams/ai/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Run fmt
  python/packages/ai/teams/ai/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix argument order
  python/packages/ai/teams/ai/citations/citations.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

[C#] feat: Powered by AI: Citations, feedback loop, and GeneratedByAI icon (#1648)
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AI.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AIOptions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/AIEntity.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Action/DefaultActions.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Augmentations/DefaultAugmentation.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/Application.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopData.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Application/FeedbackLoopHandler.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/CitationUtils.cs
  dotnet/samples/08.datasource.azureopenai/.gitignore
  dotnet/samples/08.datasource.azureopenai/Program.cs
  dotnet/samples/08.datasource.azureopenai/appPackage/color.png
  dotnet/samples/08.datasource.azureopenai/appPackage/manifest.json
  dotnet/samples/08.datasource.azureopenai/appPackage/outline.png
  getting-started/CONCEPTS/POWERED-BY-AI.md
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

Minor fix to sample 4.h env variables error
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Bump teams-ai to version 1.2.1
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

map assitants response to citations
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

update tests
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] fix: map assitants response to citations (#1655)
  js/packages/teams-ai/src/planners/AssistantsPlanner.spec.ts
  js/packages/teams-ai/src/planners/AssistantsPlanner.ts
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

[JS] chore: Patch release 1.2.1 (#1654)
  js/packages/teams-ai/package.json
  js/samples/01.getting-started/a.echoBot/package.json
  js/samples/02.teams-features/a.messageExtensions.searchCommand/package.json
  js/samples/02.teams-features/b.adaptiveCards.typeAheadBot/package.json
  js/samples/03.ai-concepts/a.twentyQuestions/package.json
  js/samples/03.ai-concepts/b.AI-messageExtensions/package.json
  js/samples/03.ai-concepts/c.actionMapping-lightBot/package.json
  js/samples/03.ai-concepts/d.chainedActions-listBot/package.json
  js/samples/03.ai-concepts/e.customModel-LLAMA/package.json
  js/samples/03.ai-concepts/f.chatModeration/package.json
  js/samples/04.ai-apps/a.teamsChefBot/package.json
  js/samples/04.ai-apps/b.devOpsBot/package.json
  js/samples/04.ai-apps/c.vision-cardGazer/package.json
  js/samples/04.ai-apps/d.assistants-mathBot/package.json
  js/samples/04.ai-apps/e.assistants-orderBot/package.json
  js/samples/04.ai-apps/f.whoBot/package.json
  js/samples/04.ai-apps/g.datasource-azureAISearch/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/package.json
  js/samples/04.ai-apps/h.datasource-azureOpenAI/src/app.ts
  js/samples/05.authentication/a.oauth-adaptiveCard/package.json
  js/samples/05.authentication/b.oauth-bot/package.json
  js/samples/05.authentication/c.oauth-messageExtension/package.json
  js/samples/05.authentication/d.teamsSSO-bot/package.json
  js/samples/05.authentication/e.teamsSSO-messageExtension/package.json
Owners: @aacebo, @corinagum, @lilyydu, @singhk97

Fix PR comments for Plan
  python/packages/ai/teams/ai/planners/plan.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Fix monologue and Sequence augmentation to have message context
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/message.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Move and divide utils
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/prompts/function_response_message.py
  python/packages/ai/teams/ai/prompts/sections/conversation_history_section.py
  python/packages/ai/teams/ai/prompts/sections/template_section.py
  python/packages/ai/teams/ai/utilities.py
  python/packages/ai/teams/utils/__init__.py
  python/packages/ai/teams/utils/citations/__init__.py
  python/packages/ai/teams/utils/citations/format_citations_response.py
  python/packages/ai/teams/utils/citations/get_used_citations.py
  python/packages/ai/teams/utils/snippet.py
  python/packages/ai/teams/utils/to_string.py
  python/packages/ai/tests/ai/test_utilities.py
  python/packages/ai/tests/utils/__init__.py
  python/packages/ai/tests/utils/citations/__init__.py
  python/packages/ai/tests/utils/citations/test_format_citations_response.py
  python/packages/ai/tests/utils/citations/test_get_used_citations.py
  python/packages/ai/tests/utils/test_snippet.py
  python/packages/ai/tests/utils/test_to_string.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Bump dotnet to v1.3.0
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Microsoft.Teams.AI.csproj
  dotnet/samples/01.messaging.echoBot/EchoBot.csproj
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommand.csproj
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBot.csproj
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBot.csproj
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPT.csproj
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBot.csproj
  dotnet/samples/04.ai.d.chainedActions.listBot/ListBot.csproj
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsBot.csproj
  dotnet/samples/04.e.twentyQuestions/TwentyQuestions.csproj
  dotnet/samples/06.assistants.a.mathBot/MathBot.csproj
  dotnet/samples/06.assistants.b.orderBot/OrderBot.csproj
  dotnet/samples/06.auth.oauth.bot/BotAuth.csproj
  dotnet/samples/06.auth.oauth.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/06.auth.teamsSSO.bot/BotAuth.csproj
  dotnet/samples/06.auth.teamsSSO.messageExtension/MessageExtensionAuth.csproj
  dotnet/samples/08.datasource.azureaisearch/AzureAISearchBot/AzureAISearchBot.csproj
  dotnet/samples/08.datasource.azureopenai/AzureOpenAIBot.csproj
Owners: @aacebo, @corinagum, @kuojianlu, @lilyydu, @singhk97, @swatDong

fix state
  python/packages/ai/teams/state/state.py
  python/samples/04.ai.c.actionMapping.lightBot/src/bot.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Format sequence and monologue
  python/packages/ai/teams/ai/augmentations/monologue_augmentation.py
  python/packages/ai/teams/ai/augmentations/sequence_augmentation.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97

Update PredictedSayCommand for assistants_planner.py
  python/packages/ai/teams/ai/planners/assistants_planner.py
Owners: @aacebo, @blackchoey, @corinagum, @lilyydu, @singhk97
