Repository microsoft/teams-ai, pull requests merged in 2023-08, with the labels that each got.

#398 feat: add interface for planner and moderator
  python/teams_ai/moderator/moderator.py
  python/teams_ai/planner/planner.py
Labels: Python

#411 feat: implement default prompt manager
  python/packages/ai/poetry.lock
  python/packages/ai/pyproject.toml
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/default_prompt_manager.py
  python/packages/ai/tests/prompts/test_assets/happy_path/config.json
  python/packages/ai/tests/prompts/test_assets/happy_path/skprompt.txt
  python/packages/ai/tests/prompts/test_assets/missing_config/skprompt.txt
  python/packages/ai/tests/prompts/test_assets/missing_prompt/config.json
  python/packages/ai/tests/prompts/test_assets/test_default_prompt_manager.py
Labels: Python

#410 [C#] Ensure singleton HttpClient
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/AzureContentSafetyClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI.Tests/AITests/OpenAIClientTests.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/AzureContentSafety/AzureContentSafetyClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/AzureContentSafetyModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/Moderator/OpenAIModerator.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/AI/OpenAI/OpenAIClient.cs
  dotnet/packages/Microsoft.TeamsAI/Microsoft.TeamsAI/Utilities/DefaultHttpClient.cs
Labels: dotnet

#427 feat: AI planner - text completion
  python/packages/ai/.pylintrc
  python/packages/ai/teams/ai/ai_options.py
  python/packages/ai/teams/ai/moderator/moderator.py
  python/packages/ai/teams/ai/planner/__init__.py
  python/packages/ai/teams/ai/planner/ai_history_options.py
  python/packages/ai/teams/ai/planner/azure_openai_planner.py
  python/packages/ai/teams/ai/planner/azure_openai_planner_options.py
  python/packages/ai/teams/ai/planner/command_type.py
  python/packages/ai/teams/ai/planner/openai_planner.py
  python/packages/ai/teams/ai/planner/openai_planner_options.py
  python/packages/ai/teams/ai/planner/plan.py
  python/packages/ai/teams/ai/planner/plan_type.py
  python/packages/ai/teams/ai/planner/planner.py
  python/packages/ai/teams/ai/planner/predicted_command.py
  python/packages/ai/teams/ai/planner/predicted_do_command.py
  python/packages/ai/teams/ai/planner/predicted_say_command.py
  python/packages/ai/teams/ai/planner/response_parser.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/completion_config.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_template.py
  python/packages/ai/teams/ai/prompts/prompt_template_config.py
  python/packages/ai/teams/ai/prompts/utils.py
  python/packages/ai/teams/ai/state/conversation_state.py
  python/packages/ai/teams/ai/state/temp_state.py
  python/packages/ai/teams/ai/state/user_state.py
  python/packages/ai/tests/prompts/test_prompt_manager.py
  python/packages/ai/tests/state/test_turn_state_manager.py
Labels: Python

#487 feat #481 - fix warnings in the samples
  dotnet/samples/01.messaging.echoBot/.editorconfig
  dotnet/samples/01.messaging.echoBot/Program.cs
  dotnet/samples/01.messaging.echoBot/TeamsEchoBot.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/.editorconfig
  dotnet/samples/02.messageExtensions.a.searchCommand/Model/CardPackage.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/Model/Package.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/Program.cs
  dotnet/samples/02.messageExtensions.a.searchCommand/SearchCommandMessageExtension.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/.editorconfig
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/AdapterWithErrorHandler.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/Program.cs
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/Resources/StaticSearchCard.json
  dotnet/samples/03.adaptiveCards.a.typeAheadBot/TypeAheadBotApplication.cs
  dotnet/samples/04.ai.a.teamsChefBot/.editorconfig
  dotnet/samples/04.ai.a.teamsChefBot/Program.cs
  dotnet/samples/04.ai.a.teamsChefBot/TeamsChefBotApplication.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/.editorconfig
  dotnet/samples/04.ai.b.messageExtensions.gptME/CardBuilder.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/GPtMessageExtension.cs
  dotnet/samples/04.ai.b.messageExtensions.gptME/Program.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/.editorconfig
  dotnet/samples/04.ai.c.actionMapping.lightBot/LightBotActions.cs
  dotnet/samples/04.ai.c.actionMapping.lightBot/Program.cs
  dotnet/samples/04.ai.d.chainedActions.listBot/.editorconfig
  dotnet/samples/04.ai.d.chainedActions.listBot/Nuget.Config
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/.editorconfig
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/DevOpsActions.cs
  dotnet/samples/04.ai.e.chainedActions.devOpsBot/TeamsDevOpsBot.cs
  dotnet/samples/04.e.twentyQuestions/.editorconfig
  dotnet/samples/04.e.twentyQuestions/Program.cs
Labels: samples, dotnet

#488 Feat: [PY] remove all errors other than `ApplicationError`
  python/packages/ai/teams/ai/__init__.py
  python/packages/ai/teams/ai/ai.py
  python/packages/ai/teams/ai/ai_error.py
  python/packages/ai/teams/ai/clients/openai/openai_client_error.py
  python/packages/ai/teams/ai/planner/__init__.py
  python/packages/ai/teams/ai/planner/planner_error.py
  python/packages/ai/teams/ai/planner/response_parser.py
  python/packages/ai/teams/ai/prompts/__init__.py
  python/packages/ai/teams/ai/prompts/prompt_manager.py
  python/packages/ai/teams/ai/prompts/prompt_manager_error.py
  python/packages/ai/teams/ai/state/__init__.py
  python/packages/ai/teams/ai/state/conversation_history.py
  python/packages/ai/teams/ai/state/state_error.py
  python/packages/ai/teams/app.py
  python/packages/ai/tests/test_ai.py
Labels: parity, Python
